/*2011-04-14-For NewSI2 ======= Add Special Early ======*/
/******** FS 專有style *********/
/*body#MNFS #box { width:722px!important;position: relative; margin-bottom:12px;}*/
body#MNFS h2 .rig {	display: block;float: right;}
body#MNFS h2 .left {float: left;display: inline;white-space: nowrap;clear: both;padding-top: 3px;}
#MNFS .mem { padding-bottom:-3px;}
/*頁次*//**/
#MNFS td#page_no { width:440px!important; white-space:nowrap;}
/* ============= 判斷球類-變更寬度 ============= */
#MNFS #box  { width:662px!important;}
body.FSFT ,   body.FSBS,   body.FSBK,   body.FSVB,   body.FSTN,   body.FSOP
{ margin:0; padding: 10px 0 0 10px; behavior:url(/style/csshover.htc);
    /*background:#FF9 url(../..../images/test_bg.gif) no-repeat 0 0;*/
    scrollbar-face-color: #DCD1C5;
    scrollbar-shadow-color: #B9A38B;
    scrollbar-highlight-color: #E6DED6;
    scrollbar-3dlight-color: #B9A38B;
    scrollbar-darkshadow-color: #33281C;
    scrollbar-track-color: #33281C;
    scrollbar-arrow-color: #413528;
}
/*body.FSFT #box ,   body.FSBS #box , body.FSBK #box,   body.FSVB #box,   body.FSTN #box,   body.FSOP #box  { width:662px!important;}
body.FSFT #page_no,   body.FSBS  #page_no,body.FSBK  #page_no ,body.FSVB  #page_no ,body.FSTN  #page_no ,body.FSOP  #page_no { width:390px!important;}

/*body.FSBK #box,   body.FSVB #box,   body.FSTN #box,   body.FSOP #box {width:734px;}*/


/*選擇體育*/
/*td.leg_menu {	width: 321px; text-align: right;}
td.leg_menu div { display:inline; padding-right:10px;}*/
/*盤面表格加線*/
/*.game td.sub_tab td td td, .more td.sub_tab td td{  border-right:1px solid #B9B9A3; border-bottom:1px solid #B9B9A3;}*/
/*.sport_btn {width:25%; white-space:nowrap;}
.sport_btn div { display:inline;}*/
#MNFS .b_hline {color:#493721;	background-color:#C8A670;}
td.sub_title { border:none;background-color: #FCF9CE;}/*顯式第二層title線框--淺黃隊伍抬頭*//**/
/* For fireFox */
@-moz-document url-prefix() {
    .sub_title {
        border:none;background-color: #FCF9CE;
    }
}

td.sub_title table { width:100%;}
td.sub_title td { font-weight:bold; color:#493721;}
td.sub_tab { width:50%; padding:0;border:none;background-color: #B9B9A3;}/*顯式第二層tabl線框*/
td.sub_tab table { width:100%;}
#MNFS .sub_tab td{  padding:2px 10px 0px 10px; border-bottom:1px solid #B9B9A3;font-size:0.75em;/* background-color:#9C0;*/}/*--主要賽事欄位*/
#MNFS #LegOpen { background:url(../images/mem_arr_fs.gif) no-repeat 0 0;}
#MNFS #LegClose { background:url(../images/mem_arr_fs.gif) no-repeat 0px -20px;}
#MNFS .game table { border-collapse:collapse; border:0; margin:0;}
.fs_leg { width:640px;font-size:0.75em; padding-bottom:2px;}/*冠軍聯盟table土黃收合title*/

/* For fireFox */
@-moz-document url-prefix() {
    .fs_leg {
        /*width:640px; background-color: #FF0;*/
    }
}
/*body.FSFT .fs_leg, body.FSBS .fs_leg { width:640px;}/*冠軍聯盟table土黃收合title*/

html>body#MNFS .fs_leg { padding-left:5px;} /*Mac Hack*/
body#MNFS .r_bold {font-size: 12px;font-weight: bold;color: #CC0000;padding-right: 10px; text-align:right; cursor:pointer;}/*賠率td*/
html>body#MNFS .r_bold {border-right:1px solid #B9B9A3;} /*Mac Hack*/
/*body#MNFS .b_cen {賠率字}*/
html>body#MNFS .b_hline{ border: solid 1px #B9B9A3; border-bottom:none;}
html>body td.sub_title{ padding:4px 4px 2px; border: solid 1px #B9B9A3;}
html>body td.sub_title td {font-size:0.75em;}
/*google Chrome FS Hack*//* safari 3+, chrome 1+, opera9+ */
body#MNFS:nth-of-type(1) .b_hline{ border: solid 1px #B9B9A3; border-bottom:none;}
body:nth-of-type(1) td.sub_title{ padding:4px 4px 2px; border: solid 1px #B9B9A3;}
body:nth-of-type(1) td.sub_title td {font-size:0.75em;}

#MNFS td.rsu_refresh, #MNFS td.rsu_refresh_on {text-align:left;}
/*.third_tab table {}/*第三層表格*/
