<div ng-include="templateURL('/caipiao/disabled.html')"></div>

<div ng-include="templateURL('/caipiao/headers/kl8_header.html')"></div>

<div class="ui-table">
	<div class="ui-head-son">
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">赔率</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">赔率</div>
			</div>
		</div>
	</div>
	<div class="ui-body-son">
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="0"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-0'}}">{{peiyu['TM-KL8TM-0']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="01"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-01'}}" >{{peiyu['TM-KL8TM-01']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="02"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-02'}}" >{{peiyu['TM-KL8TM-02']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="03"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-03'}}" >{{peiyu['TM-KL8TM-03']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="04"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-04'}}" >{{peiyu['TM-KL8TM-04']}}</span>
				</div>
			</div>						
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="05"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-05'}}" >{{peiyu['TM-KL8TM-05']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="06"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-06'}}" >{{peiyu['TM-KL8TM-06']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="07"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-07'}}" >{{peiyu['TM-KL8TM-07']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="08"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-08'}}" >{{peiyu['TM-KL8TM-08']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="09"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-09'}}" >{{peiyu['TM-KL8TM-09']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="10"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-10'}}" >{{peiyu['TM-KL8TM-10']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="11"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-11'}}" >{{peiyu['TM-KL8TM-11']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="12"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-12'}}" >{{peiyu['TM-KL8TM-12']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="13"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-13'}}" >{{peiyu['TM-KL8TM-13']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="14"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-14'}}" >{{peiyu['TM-KL8TM-14']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="15"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-15'}}" >{{peiyu['TM-KL8TM-15']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="16"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-16'}}" >{{peiyu['TM-KL8TM-16']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="17"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-17'}}" >{{peiyu['TM-KL8TM-17']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="18"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-18'}}" >{{peiyu['TM-KL8TM-18']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="19"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-19'}}" >{{peiyu['TM-KL8TM-19']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="20"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-20'}}" >{{peiyu['TM-KL8TM-20']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="21"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-21'}}" >{{peiyu['TM-KL8TM-21']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="22"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-22'}}" >{{peiyu['TM-KL8TM-22']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="23"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-23'}}" >{{peiyu['TM-KL8TM-23']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="24"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-24'}}" >{{peiyu['TM-KL8TM-24']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="25"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-25'}}" >{{peiyu['TM-KL8TM-25']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="26"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-26'}}" >{{peiyu['TM-KL8TM-26']}}</span>
				</div>
			</div>
			
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<ball type="pcegg" number="27"></ball>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-27'}}" >{{peiyu['TM-KL8TM-27']}}</span>
				</div>
			</div>
						
		</div>
	</div>
	<div class="ui-head-son">
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">赔率</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">赔率</div>
			</div>
		</div>
	</div>
	<div class="ui-body-son">
		<div class="pure-g">
			<!-- 特码包三	TM-KL8TM-TMSB -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-white">特码包三</span>
				</div>
			</div>
			<div class="pure-u-12-24">
				<div class="ui-item-son">
					<select id="tmsb1" name="tmsb1" ng-model="temaNumber1" >
						<option ng-repeat="tema in temaNumbers">{{tema}}</option>
					</select>
					<select id="tmsb2" ng-model="temaNumber2" name="tmsb2" >
						<option ng-repeat="tema in temaNumbers">{{tema}}</option>
					</select>
					<select id="tmsb3" name="tmsb3" ng-model="temaNumber3">
						<option ng-repeat="tema in temaNumbers">{{tema}}</option>
					</select>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-TMSB'}}" >{{peiyu['TM-KL8TM-TMSB']}}</span>
				</div>
			</div>
			<!-- 大	TM-KL8TM-BIG -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-white">大</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-BIG'}}" >{{peiyu['TM-KL8TM-BIG']}}</span>
				</div>
			</div>
			<!-- 小	TM-KL8TM-SMALL -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-white">小</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-SMALL'}}" >{{peiyu['TM-KL8TM-SMALL']}}</span>
				</div>
			</div>
			<!-- 单	TM-KL8TM-ODD -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-white">单</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-ODD'}}" >{{peiyu['TM-KL8TM-ODD']}}</span>
				</div>
			</div>
			<!-- 双	TM-KL8TM-EVEN -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-white">双</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-EVEN'}}" >{{peiyu['TM-KL8TM-EVEN']}}</span>
				</div>
			</div>
			<!-- 大单	TM-KL8TM-BIG_ODD -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-white">大单</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-BIG_ODD'}}" >{{peiyu['TM-KL8TM-BIG_ODD']}}</span>
				</div>
			</div>
			<!-- 小单	TM-KL8TM-SMALL_ODD -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-white">小单</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-SMALL_ODD'}}" >{{peiyu['TM-KL8TM-SMALL_ODD']}}</span>
				</div>
			</div>
			<!-- 大双	TM-KL8TM-BIG_EVEN -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-white">大双</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-BIG_EVEN'}}" >{{peiyu['TM-KL8TM-BIG_EVEN']}}</span>
				</div>
			</div>
			<!-- 小双	TM-KL8TM-SMALL_EVEN -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-white">小双</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-SMALL_EVEN'}}" >{{peiyu['TM-KL8TM-SMALL_EVEN']}}</span>
				</div>
			</div>
			<!-- 极大	TM-KL8TM-FAST_BIG -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-white">极大</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-FAST_BIG'}}" >{{peiyu['TM-KL8TM-FAST_BIG']}}</span>
				</div>
			</div>
			<!-- 极小	TM-KL8TM-FAST_SMALL -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-white">极小</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-FAST_SMALL'}}" >{{peiyu['TM-KL8TM-FAST_SMALL']}}</span>
				</div>
			</div>
			<!-- 红波	TM-KL8TM-RED -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-red">红波</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-RED'}}" >{{peiyu['TM-KL8TM-RED']}}</span>
				</div>
			</div>
			<!-- 绿波	TM-KL8TM-GREEN -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-green">绿波</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-GREEN'}}" >{{peiyu['TM-KL8TM-GREEN']}}</span>
				</div>
			</div>
			<!-- 蓝波	TM-KL8TM-BLUE -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-blue">蓝波</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-BLUE'}}" >{{peiyu['TM-KL8TM-BLUE']}}</span>
				</div>
			</div>
			<!-- 豹子	TM-KL8TM-BAOZI -->
			<div class="pure-u-4-24">
				<div class="ui-item-son">
					<span class="color-white">豹子</span>
				</div>
			</div>
			<div class="pure-u-8-24">
				<div class="ui-item-son">
					<span class="bg-hrec-gray" ng-attr-id="{{'TM-KL8TM-BAOZI'}}" >{{peiyu['TM-KL8TM-BAOZI']}}</span>
				</div>
			</div>
			
		</div>
	</div>	
</div>