[{"6_106":1}]
êêê
<!-- 开奖结果 -->

<div class="pure-g lotto-result">
	<div class="pure-u-1-3">
		<div class="info">
			<div class="ui-row row-one">
				<span id="gameBetName" >--</span>&nbsp;今日输赢<strong class="red" id="betUsrWin">--</strong>
			</div>
			<p class="ui-row row-two">
				当前期：<strong class="green" id="currentQs">--</strong> 期&nbsp;&nbsp;<strong class="blue" id="typeBetName">--</strong>
			</p>
		</div>
	</div>
	<!-- /left -->
	<div class="pure-u-2-3">
		<div class="result">
			<div class="ui-row row-one cf">
				<div class="ui-head">
					<span class="b red" id="lastQs">--</span>期
				</div>
				<div class="ui-body">
					<ul class="ball-group center" id="lastResult"></ul>
				</div>
			</div>
			<div class="ui-row row-two">
				<!-- 开奖or封盘时间 -->
				<div class="result-time">
					<div class="ui-item item-ssc">
						<ul class="cf">
							<li class="ui-item-gson">距离封盘：<strong class="red" id="closeTime">--:--</strong></li>
							<li class="ui-item-gson">距离开奖：<strong class="red" id="openTime">--:--</strong></li>
						</ul>
					</div>
				</div>
				<!-- / 开奖or封盘时间 -->
			</div>
		</div>
	</div>
</div>
<!-- /开奖结果 -->
<!-- 六合彩 特码 -->
<div>
	<!-- 快捷下注 -->
	<div class="pure-g">
		<div class="pure-u-1">
			<div class="bet-form-action cf">
				<ul class="order r cf">
					<li class="ui-item">快速下注</li>
					<li class="ui-item">
						<input type="text" id="fastbet_input" class="ui-input ui-hand" maxlength="11"   />
					</li>
					<li class="ui-item">
						<input type="button" value="下注" onclick="createWebOrder()" class="button button-small button-raised button-primary" />
					</li>
					<li class="ui-item">
						<input type="button" value="重填" onclick="clearBetForm();" class="button button-small button-raised" />
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /快捷下注 -->
	<!-- 下注表单 -->
	<div  id="betForm" class="bet-form">
		<div class="ui-form">
			<div class="ui-mod ui-tabs">
				<div class="ui-mod-head ui-tabs-head nav-mode-play">
					<ul class="cf">
						<li class="ui-item ui-item-first ui-active">
							<a href="javascript:void(0);" data-url="#hk6TM1" class="ui-link">特码</a>
						</li>
						
					</ul>
				</div>
				<div class="ui-mod-body ui-tabs-body mt10">
					<div class="ui-mod-item ui-tabs-item" id="hk6TM1">
						<div class="ui-table">
							<div class="pure-g">
							
							
								<div class="pure-u-1-5">
									<div class="ui-table-loop">
										<div class="ui-head-son">
											<div class="pure-g">
												<div class="pure-u-7-24"><div class="ui-item-son">号码</div></div>
												<div class="pure-u-7-24"><div class="ui-item-son">赔率</div></div>
												<div class="pure-u-10-24"><div class="ui-item-son">金额</div></div>
											</div>
										</div>
										<!-- / 表单标题 -->
										<div class="ui-body-son ui-body-ball">
											<div class="pure-g">
												<!-- 循环行 -->
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-gray" id="num_TM-KL8TM-0">0</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-0">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input"   name="number[]" id="TM-KL8TM-0">
													</div>
												</div>
												 
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-green" id="num_TM-KL8TM-01">01</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-01">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-01">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-blue" id="num_TM-KL8TM-02">02</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-02">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-02">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-red" id="num_TM-KL8TM-02">03</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-03">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-03">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-green" id="num_TM-KL8TM-04">04</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-04">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-04">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-blue" id="num_TM-KL8TM-05">05</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-05">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-05">
													</div>
												</div>
												
 
												<div class="pure-u-17-24"><div class="ui-item-son"><span class="" style="background-color: #9966cc;padding: 2px 10px;color: #fff; border-radius: 10px;" id="num_TM-KL8TM-TMSB">特码包三</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-TMSB">-</div></div>

											 
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span  id="num_TM-KL8TM-BIG">大</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-BIG">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-BIG">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span  id="num_TM-KL8TM-BIG_ODD">大单</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-BIG_ODD">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-BIG_ODD">
													</div>
												</div>
												
										 		<div class="pure-u-7-24"><div class="ui-item-son red"><span  id="num_TM-KL8TM-RED">红波</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-RED">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-RED">
													</div>
												</div>
										 		
										 		
										 		
												<!-- / 循环行 -->
											</div>
										</div>
										<!-- / 表单主体 -->
									</div>
								</div>   
								<!-- / 循环列 -->
								
								<div class="pure-u-1-5">
									<div class="ui-table-loop">
										<div class="ui-head-son">
											<div class="pure-g">
												<div class="pure-u-7-24"><div class="ui-item-son">号码</div></div>
												<div class="pure-u-7-24"><div class="ui-item-son">赔率</div></div>
												<div class="pure-u-10-24"><div class="ui-item-son">金额</div></div>
											</div>
										</div>
										<!-- / 表单标题 -->
										<div class="ui-body-son ui-body-ball">
											<div class="pure-g">
												<!-- 循环行 -->
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-red" id="num_TM-KL8TM-06">06</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-06">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-06">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-green" id="num_TM-KL8TM-07">07</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-07">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input"  name="number[]" id="TM-KL8TM-07">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-blue" id="num_TM-KL8TM-08">08</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-08">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-08">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-red" id="num_TM-KL8TM-09">09</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-09">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-09">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-green" id="num_TM-KL8TM-10">10</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-10">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-10">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-blue" id="num_TM-KL8TM-11">11</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-11">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-11">
													</div>
												</div>
												
												<div class="pure-u-24-24">
													<div class="ui-item-son">
														<select id="tmsb1" name="tmsb1" style="width: 43px;">
															<option value="0" selected="selected">0</option>
															<option value="1">1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
															<option value="6">6</option>
															<option value="7">7</option>
															<option value="8">8</option>
															<option value="9">9</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
															<option value="13">13</option>
															<option value="14">14</option>
															<option value="15">15</option>
															<option value="16">16</option>
															<option value="17">17</option>
															<option value="18">18</option>
															<option value="19">19</option>
															<option value="20">20</option>
															<option value="21">21</option>
															<option value="22">22</option>
															<option value="23">23</option>
															<option value="24">24</option>
															<option value="25">25</option>
															<option value="26">26</option>
															<option value="27">27</option>
														</select>
														<select id="tmsb2" name="tmsb2" style="width: 43px;">
															<option value="0">0</option>
															<option value="1"  selected="selected">1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
															<option value="6">6</option>
															<option value="7">7</option>
															<option value="8">8</option>
															<option value="9">9</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
															<option value="13">13</option>
															<option value="14">14</option>
															<option value="15">15</option>
															<option value="16">16</option>
															<option value="17">17</option>
															<option value="18">18</option>
															<option value="19">19</option>
															<option value="20">20</option>
															<option value="21">21</option>
															<option value="22">22</option>
															<option value="23">23</option>
															<option value="24">24</option>
															<option value="25">25</option>
															<option value="26">26</option>
															<option value="27">27</option>
														</select>
														<select id="tmsb3" name="tmsb3" style="width: 43px;">
															<option value="0">0</option>
															<option value="1">1</option>
															<option value="2" selected="selected">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
															<option value="6">6</option>
															<option value="7">7</option>
															<option value="8">8</option>
															<option value="9">9</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
															<option value="13">13</option>
															<option value="14">14</option>
															<option value="15">15</option>
															<option value="16">16</option>
															<option value="17">17</option>
															<option value="18">18</option>
															<option value="19">19</option>
															<option value="20">20</option>
															<option value="21">21</option>
															<option value="22">22</option>
															<option value="23">23</option>
															<option value="24">24</option>
															<option value="25">25</option>
															<option value="26">26</option>
															<option value="27">27</option>
														</select>
													</div>
												</div>
												
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span  id="num_TM-KL8TM-SMALL">小</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-SMALL">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-SMALL">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span  id="num_TM-KL8TM-SMALL_ODD">小单</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-SMALL_ODD">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-SMALL_ODD">
													</div>
												</div>
										 		
										 		<div class="pure-u-7-24"><div class="ui-item-son green"><span  id="num_TM-KL8TM-GREEN">绿波</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-GREEN">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-GREEN">
													</div>
												</div>
												
												
												
												<!-- / 循环行 -->
											</div>
										</div>
										<!-- / 表单主体 -->
									</div>
								</div>
								
								<div class="pure-u-1-5">
									<div class="ui-table-loop">
										<div class="ui-head-son">
											<div class="pure-g">
												<div class="pure-u-7-24"><div class="ui-item-son">号码</div></div>
												<div class="pure-u-7-24"><div class="ui-item-son">赔率</div></div>
												<div class="pure-u-10-24"><div class="ui-item-son">金额</div></div>
											</div>
										</div>
										<!-- / 表单标题 -->
										<div class="ui-body-son ui-body-ball">
											<div class="pure-g">
												<!-- 循环行 -->
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-red" id="num_TM-KL8TM-12">12</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-12">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-12">
													</div>
												</div>
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-gray" id="num_TM-KL8TM-13">13</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-13">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-13">
													</div>
												</div>
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-gray" id="num_TM-KL8TM-14">14</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-14">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input"  name="number[]" id="TM-KL8TM-14">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-red" id="num_TM-KL8TM-15">15</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-15">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-15">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-green" id="num_TM-KL8TM-16">16</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-16">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-16">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-blue" id="num_TM-KL8TM-17">17</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-17">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-17">
													</div>
												</div>
												
												<div class="pure-u-24-24">
													<div class="ui-item-son" style="text-align:left;">
														<input type="text" style="margin-left:5px;width:50px;" class="ui-input" name="number[]" id="TM-KL8TM-TMSB">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span  id="num_TM-KL8TM-ODD">单</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-ODD">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-ODD">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span  id="num_TM-KL8TM-BIG_EVEN">大双</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-BIG_EVEN">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-BIG_EVEN">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son blue"><span  id="num_TM-KL8TM-BLUE">蓝波</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-BLUE">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-BLUE">
													</div>
												</div>
												
												<!-- / 循环行 -->
											</div>
										</div>
										<!-- / 表单主体 -->
									</div>
								</div>
								
								
								
								<div class="pure-u-1-5">
									<div class="ui-table-loop">
										<div class="ui-head-son">
											<div class="pure-g">
												<div class="pure-u-7-24"><div class="ui-item-son">号码</div></div>
												<div class="pure-u-7-24"><div class="ui-item-son">赔率</div></div>
												<div class="pure-u-10-24"><div class="ui-item-son">金额</div></div>
											</div>
										</div>
										<!-- / 表单标题 -->
										<div class="ui-body-son ui-body-ball">
											<div class="pure-g">
												<!-- 循环行 -->
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-red" id="num_TM-KL8TM-18">18</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-18">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-18">
													</div>
												</div>
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-green" id="num_TM-KL8TM-19">19</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-19">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-19">
													</div>
												</div>
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-blue" id="num_TM-KL8TM-20">20</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-20">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-20">
													</div>
												</div>
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-red" id="num_TM-KL8TM-21">21</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-21">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input"  name="number[]" id="TM-KL8TM-21">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-green" id="num_TM-KL8TM-22">22</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-22">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-22">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-blue" id="num_TM-KL8TM-23">23</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-23">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-23">
													</div>
												</div>
												
												<div class="pure-u-1"><div class="ui-item-son"></div></div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span  id="num_TM-KL8TM-EVEN">双</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-EVEN">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-EVEN">
													</div>
												</div>
												<div class="pure-u-7-24"><div class="ui-item-son"><span  id="num_TM-KL8TM-SMALL_EVEN">小双</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-SMALL_EVEN">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-SMALL_EVEN">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son blue"><span  id="num_TM-KL8TM-BAOZI">豹子</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-BAOZI">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-BAOZI">
													</div>
												</div>
												
												<!-- / 循环行 -->
											</div>
										</div>
										<!-- / 表单主体 -->
									</div>
								</div>
	 
								<div class="pure-u-1-5">
									<div class="ui-table-loop">
										<div class="ui-head-son">
											<div class="pure-g">
												<div class="pure-u-7-24"><div class="ui-item-son">号码</div></div>
												<div class="pure-u-7-24"><div class="ui-item-son">赔率</div></div>
												<div class="pure-u-10-24"><div class="ui-item-son">金额</div></div>
											</div>
										</div>
										<!-- / 表单标题 -->
										<div class="ui-body-son ui-body-ball">
											<div class="pure-g">
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-red" id="num_TM-KL8TM-24">24</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-24">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-24">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-green" id="num_TM-KL8TM-35">25</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-25">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-25">
													</div>
												</div>
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-blue" id="num_TM-KL8TM-26">26</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-26">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-26">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span class="ball ball-gray" id="num_TM-KL8TM-27">27</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-27">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-27">
													</div>
												</div>
												
												<div class="pure-u-1"><div class="ui-item-son"></div></div>
												<div class="pure-u-1"><div class="ui-item-son"></div></div>
										 		<div class="pure-u-1"><div class="ui-item-son"></div></div>
										 		
										 		<div class="pure-u-7-24"><div class="ui-item-son"><span  id="num_TM-KL8TM-FAST_BIG">极大</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-FAST_BIG">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-FAST_BIG">
													</div>
												</div>
												
												<div class="pure-u-7-24"><div class="ui-item-son"><span  id="num_TM-KL8TM-FAST_SMALL">极小</span></div></div>
												<div class="pure-u-7-24"><div class="ui-item-son ui-hand red" id="pl_TM-KL8TM-FAST_SMALL">-</div></div>
												<div class="pure-u-10-24">
													<div class="ui-item-son">
														<input type="text" class="ui-input" name="number[]" id="TM-KL8TM-FAST_SMALL">
													</div>
												</div>
												<div class="pure-u-1"><div class="ui-item-son"></div></div>
												<!-- / 循环行 -->
											</div>
										</div>
										<!-- / 表单主体 -->
									</div>
								</div>
								
								</div>
								<!-- / 循环列 -->
							</div>
					</div>
				</div>
				<!-- / ui-mod-body -->
			</div>
			<!-- / ui-mod -->
		</div>
		<!-- / ui-form -->
	</div>
	<!-- / 下注表单 -->
	<!-- 快捷下注 -->
	<div class="pure-g">
		<div class="pure-u-1">
			<div class="bet-form-action cf">
				<ul class="order r cf">
					<li class="ui-item">快速下注</li>
					<li class="ui-item">
						<input type="text" id="back_fastbet_input"  class="ui-input ui-hand" maxlength="11"/>
					</li>
					<li class="ui-item">
						<input type="button" value="下注" onclick="createWebOrder()" class="button button-small button-raised button-primary" />
					</li>
					<li class="ui-item">
						<input type="button" value="重填" onclick="clearBetForm();" class="button button-small button-raised" />
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script src="{resourceRoot}/cp/js/bet.js"></script>