/* reset */
*{ margin: 0; padding: 0;}
body{ font-size: 12px; line-height: 1; text-align: center;}
h1,h2,h3,h6{ font-size: 100%; font-weight: normal;}
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
ul{ list-style: none;}
img, input, select{ border: 0; outline: none;}
input, select{ font-size: 12px; transition: color .5s;}
input{ background: none;}
em{ font-style: normal;}
a{ color: #222; text-decoration: none; transition: color .5s;}
::selection{ color: #000; background-color: #ddd;}
/* class */
.left{ float: left;}
.right{ float: right;}
.clear{ *zoom: 1;}
.clear:after{ clear: both;}
.clear:after, .clear:before{ content: ""; display: table;}
.mt5{ margin-top: 5px;}
.mt10{ margin-top: 10px;}
.mt15{ margin-top: 15px;}
.mt20{ margin-top: 20px;}
.mt30{ margin-top: 30px;}
.mt40{ margin-top: 40px;}
.mr5{ margin-right: 5px;}
.mr10{ margin-right: 10px;}
.mr15{ margin-right: 15px;}
.mr20{ margin-right: 20px;}
.ml5{ margin-left: 5px;}
.ml10{ margin-left: 10px;}
.ml15{ margin-left: 15px;}
.ml20{ margin-left: 20px;}
.pt5{ padding-top: 5px;}
.pt10{ padding-top: 10px;}
.pt15{ padding-top: 15px;}
.pt20{ padding-top: 20px;}
.pr5{ padding-right: 5px;}
.pr10{ padding-right: 10px;}
.pr15{ padding-right: 15px;}
.pr20{ padding-right: 20px;}
.pb5{ padding-bottom: 5px;}
.pb10{ padding-bottom: 10px;}
.pb15{ padding-bottom: 15px;}
.pb20{ padding-bottom: 20px;}
.pl5{ padding-left: 5px;}
.pl10{ padding-left: 10px;}
.pl15{ padding-left: 15px;}
.pl20{ padding-left: 20px;}
.w50{ width: 50px;}
.w100{ width: 100px;}
.w150{ width: 150px;}
.w200{ width: 200px;}
.s12{ font-size: 12px;}
.s14{ font-size: 14px;}
.s16{ font-size: 16px;}
.s18{ font-size: 18px;}
.s20{ font-size: 20px;}
.s24{ font-size: 24px;}
.s30{ font-size: 30px;}
.s40{ font-size: 40px;}
.s60{ font-size: 60px;}
.b{ font-weight: bold;}
.block{ display: block; height: 100%;}
.center{ text-align: center;}
.al{ text-align: left;}
.ar{ text-align: right;}
.white{ color: #fff;}
/*.blue{ color: #00a3d9;}*/
.gray{ color: #999;}
.gray-dark{ color: #666;}
.red{ color: #f20;}
.blue{ color: #51a8dd;}
.button-tiny{ padding: 0 14px;}
.kui-input-date{ padding-left: 30px; width: 100px; height: 32px; line-height: 32px; background: url(../images/sprites-bgs.png) no-repeat; cursor: pointer;}
.link-more{ padding: 0 4px; color: #fff; background-color: #51a8dd;}
  .link-more:hover{ background-color: #f20;}
.inner{ margin: auto; width: 1000px;}
.sheet-mod{}
  .sheet-mod td{
    overflow: hidden;
    height: 40px;
    /*line-height: 40px;*/
  }
  .sheet-title td{
    color: #fff;
    background-color: #51a8dd;
  }
  .sheet-title-line td{
    border-bottom: 2px solid #51a8dd;
  }
  .sheet-mod .write{
    padding: 0 5px;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #fff;
  }
.panel-progress{
  position: relative;
  height: 84px;
  border-bottom: 1px solid #ddd;
}
  .progress-step-group{ position: relative; z-index: 1;}
  .panel-progress .step{ float: left; width: 33.333%;}
  .panel-progress .step-inner{ margin: auto; text-align: center;}
  .panel-progress .step-icon{
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    border-radius: 50%;
    color: #fff;
    background-color: #ccc;
  }
  .panel-progress .step-active .step-icon{
    background-color: #64bd2e;
  }
  .panel-progress h2{
    padding: 5px 0;
    color: #aaa;
  }
  .panel-progress .step-active h2{
    color: #64bd2e;
  }
  .progress-line{ position: absolute; top: 50%; left: 50%; margin: -20px 0 0 -230px; overflow: hidden; width: 460px; height: 6px; background-color: #ccc;}
/* _J */
/* _J y行卡信息 */
.verify-bank{}
  .verify-bank .verify-title{ padding: 5px 0; height: 24px; line-height: 24px;}
  .verify-bank td{ height: 25px; line-height: 25px; border-bottom: 1px solid #ddd;}
/* main */
.wrapper{
  text-align: left;
}
/* 面板^部 */
.panel-header{}
  .member-info{
    width: 320px;
  }
  .member-info .welcome{
    position: relative;
    overflow: hidden;
    width: 140px;
    height: 140px;
  }
  .member-info .welcome .icon-text{
    position: absolute;
    top: 26px;
    width: 100%;
  }
  .member-info .welcome .icon-time{
    margin-top: 50px;
    font-size: 60px;
    color: #ecab18;
  }
  .ih-item {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .ih-item,
  .ih-item * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ih-item a {
    color: #333;
  }
  .ih-item a:hover {
    text-decoration: none;
  }
  .ih-item img {
    width: 100%;
    height: 100%;
  }

  .ih-item.circle {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
  .ih-item.circle .icon {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  .ih-item.circle .icon:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .ih-item.circle .info {
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .ih-item.circle.effect .spinner {
    width: 140px;
    height: 140px;
    border: 5px solid #ecab18;
    border-right-color: #51a8dd;
    border-bottom-color: #51a8dd;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  .ih-item.circle.effect .icon:before {
    display: none;
  }
  .ih-item.circle.effect .info{
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    background: rgba(255, 255, 255, .8);
    opacity: 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  .ih-item.circle.effect .info h3{
    position: relative;
    margin-top: 40px;
    text-transform: uppercase;
  }
  .ih-item.circle.effect .info p{
    margin: 10px 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
  .ih-item.circle.effect a:hover .spinner{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .ih-item.circle.effect a:hover .info{
    opacity: 1;
  }
  .panel-header h6{
    position: relative;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
  }
  .panel-header h6 .link-more{
    position: absolute;
    top: 0;
    right: 0;
  }
  .member-balance{
    width: 660px;
  }
  .member-balance .item{
    position: relative;
    float: left;
    margin-top: 30px;
    padding: 0 15px;
    overflow: hidden;
    height: 80px;
  }
  .member-balance .item-1{
    width: 140px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  .member-balance .item-2{
    width: 458px;
  }
  .member-balance .item-2 .body{
    margin-top: 14px;
    padding: 0 20px;
    overflow: hidden;
    line-height: 1.5;
  }
  .member-balance .item-2 .em{
    position: absolute;
  }
  .member-balance .item-2 .em-left{
    top: 25px;
  }
  .member-balance .item-2 .em-right{
    top: 55px;
    right: 0;
  }
/* 面板主w */
.panel-container{}
  .panel-container .inner{
    background: url(../images/bg-panel-sidebar.png) #ececec repeat-y;
  }
  .panel-sidebar{
    width: 250px;
  }
  .panel-sidebar li{
    text-indent: 40px;
  }
  .panel-sidebar .title{
    height: 70px;
    text-shadow: 0 0 5px #666;
    background-color: #999;
  }
  .panel-sidebar .item{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-image: url(../images/bg-slide-menu.png);
    background-repeat: no-repeat;
    transition: color .5s;
  }
  .panel-sidebar .item:hover,
  .panel-sidebar .on{
    position: relative;
    width: 270px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    background-position: 0 -40px;
  }
  .panel-content{
    width: 750px;
  }
  .panel-content .goback{ height: 69px;}
  .panel-content .goback a.right{ padding: 0 15px; overflow: hidden; height: 30px; line-height: 30px; border-radius: 15px; background: #999;}
  .panel-contact .page-title,
  .panel-content .page-title{
    padding: 20px 20px 0 40px;
    height: 59px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    background-color: #f6f6f6;
  }
  .panel-content .page-body{
    padding: 25px;
  }
  .switch-menu .on{
    background-color: #f6f6f6;
  }
  .switch-menu .item{
    float: left;
    width: 140px;
    height: 45px;
    line-height: 45px;
  }
  .switch-group .switch-item{
    background-color: #f6f6f6;
  }
  .switch-body-wrap{ padding: 0 20px 20px 20px;}
/* 公共模K */
.switch-mod{}
  .switch-name .item,
  .switch-menu .item{
    cursor: pointer;
  }
  .slide-paging-group{ position: absolute; top: 70px; padding-left: 20px;}
  .slide-paging-group li{ float: left; margin-right: 5px; overflow: hidden; width: 6px; height: 6px; text-indent: -999em; border-radius: 4px; border: 1px solid #ddd; background-color: #ddd; cursor: pointer;}
  .slide-paging-group li:hover{ border-color: #51a8dd;}
  .slide-paging-group .on{ background-color: #51a8dd;}
.slide-notice{ width: 560px;}
  .slide-notice .bd{ padding: 20px 0 0 40px; width: 300px;}
  .slide-notice .hd li{ display: none;}
  .slide-notice .slide-ctrl{ margin-top: 26px; overflow: hidden; width: 15px; height: 23px; background: url(../images/sprites-bgs.png) -130px 0 no-repeat;}
  .slide-notice .slide-ctrl a{ overflow: hidden; height: 13px; cursor: pointer;}
/* 分 */
.paging{}
  .paging li{ display: inline-block; *display: inline; *zoom: 1; overflow: hidden; cursor: pointer;}
  .paging li{ margin: 0 3px; width: 28px; height: 28px; line-height: 28px; border: 1px solid #ddd; border-radius: 50%; background-color: #ddd;}
  .paging li:hover{ border: 1px solid #51a8dd;}
  .paging li.active{ color: #fff; background-color: #51a8dd;}
  .paging li.active:hover{ border-color: #51a8dd;}
/* Plugins */
.layui-layer-title{ font-size: 12px;}
.write,
.ui-selectmenu-button{ vertical-align: middle; border: 1px solid #ddd; border-radius: 0; background: #fff;}
  .ui-widget-content{ border: 1px solid #ddd; border-top: 0; border-radius: 0;}
  .ui-selectmenu-menu .ui-menu{ padding: 0; overflow-y: auto; max-height: 180px;}
  .ui-menu .ui-menu-item{ padding: 0; height: 30px; line-height: 30px; border: 0; background: #fff;}
  .ui-widget-content .ui-state-focus{ margin: 0; border: 0; background: #eee;}
/* 雾 */
/* g迎 */
.panel-welcome{}
/* 蟊 */
.panel-record{}
  .panel-record .title li{ float: left; overflow: hidden; height: 32px; line-height: 32px;}
  .panel-record .sheet-body{ border-bottom: 1px solid #dfdfdf;}
/* 信息 */
.panel-message{}
  .panel-message .sheet-body{ border-bottom: 1px solid #dfdfdf;}
/* 安全 */
.panel-security{}
  .panel-security .item{ height: 130px;}
  .panel-security .item .icon{ width: 160px;}
  .panel-security .item .icon i{ margin-top: 25px; display: block; font-size: 60px;}
  .panel-security .item .desc{ line-height: 130px;}
  .panel-security .item a{ margin-top: 40px;}
  .panel-security .item-last{ border-top: 1px solid #ddd;}
/* j我 */
.panel-contact{ background-color: #ececec;}
  .panel-contact .page-title{ padding-top: 18px; height: 56px;}