<h3 class="conversion-header bg-header">●{{dialog.title}}</h3>
<div class="conversion-form order-query-form">
	<div class="elements-wrapper">
		<div class="form-element">
			<label>起始日期</label>
			<input type="date" class="input input-element" ng-model="order.beginTime"/>
		</div>
		<div class="form-element">
			<label>截至日期</label>
			<input type="date" class="input input-element" ng-model="order.endTime"/>
		</div>
		<div class="form-element">
			<label>类型</label>
			<select class="input input-element" ng-options="type.value as type.label for type in types" ng-model="order.type"></select>
		</div>
		<div class="form-element">
			<label>状态</label>
			<select ng-options="status.value as status.label for status in statusArray" ng-model="order.status" class="input input-element"></select>
		</div>
		<button class="btn bg-submit btn-submit" ng-click="go('order_log')"><i class="icon icon-btn-submit"></i>提交</button>
	</div>
</div>





