<div ng-include="templateURL('/caipiao/disabled.html')"></div>

<div ng-include="templateURL('/caipiao/headers/hk6_header.html')"></div>

<div class="ui-table">
	<div class="ui-head-son">
		<div class="pure-g">
			<div class="pure-u-6-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">赔率</div>
			</div>
			<div class="pure-u-12-24">
				<div class="ui-item-son">号码</div>
			</div>
		</div> 
	</div>
	<div class="ui-body-son" >
		<div class="pure-g" ng-repeat="(key, name) in shengXiaoNames">
			<div class="pure-u-6-24">
				<div class="ui-item-son">{{name}}</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">
					<span 
						ng-click="selectedPeiyu['TXTW-TMSX-'+ (key | substr: 1)] = selectedPeiyu['TXTW-TMSX-'+ ( key | substr: 1)]  == true ? false: true" 
						ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu['TXTW-TMSX-'+ ( key | substr: 1)]}" 
						ng-attr-id="{{'YXYZTW-YXXZ-'+ ( key| substr: 1 )}}" >{{peiyu['TXTW-TMSX-'+ ( key | substr: 1)]}}</span>
				
				</div>
			</div>
			<div class="pure-u-12-24">
				<div class="ui-item-son">
					<ball ng-repeat="number in shengXiaoMap[key.substr(1)] track by $index" number="number"></ball>
				</div>
			</div>
		</div>  
	</div>
</div>

<div class="pure-g">
	<div class="pure-u-24-24">
		<div class="ui-head-son"><div class="ui-item-son">
			<p>特码头数</p>
		</div></div>
	</div>
</div>

<div class="ui-table">
	<div class="ui-head-son">
		<div class="pure-g">
			<div class="pure-u-6-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">赔率</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">赔率</div>
			</div>
		</div>
	</div>
	<div class="ui-body-son">
		<div class="pure-g" ng-repeat="number in range(0, 5, 2) track by $index">
			<div class="pure-u-6-24">
				<div class="ui-item-son">{{number}}头</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">
					<span 
						ng-click="selectedPeiyu['TXTW-TTW-HEAD'+number] = selectedPeiyu['TXTW-TTW-HEAD'+number]  == true ? false: true" 
						ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu['TXTW-TTW-HEAD'+number]}" 
						ng-attr-id="{{'TXTW-TTW-HEAD'+number}}" >{{peiyu['TXTW-TTW-HEAD'+number]}}</span>
				</div>
			</div>
			
			<div class="pure-u-6-24" ng-if="number < 4">
				<div class="ui-item-son">{{number+1}}头</div>
			</div>
			<div class="pure-u-6-24" ng-if="number < 4">
				<div class="ui-item-son">
					<span 
						ng-click="selectedPeiyu['TXTW-TTW-HEAD'+ ( number + 1)] = selectedPeiyu['TXTW-TTW-HEAD'+( number + 1)]  == true ? false: true" 
						ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu['TXTW-TTW-HEAD'+( number + 1)]}" 
						ng-attr-id="{{'TXTW-TTW-HEAD'+( number + 1)}}" >{{peiyu['TXTW-TTW-HEAD'+( number + 1)]}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="pure-g">
	<div class="pure-u-24-24">
		<div class="ui-head-son"><div class="ui-item-son">
			<p>特码尾数</p>
		</div></div>
	</div>
</div>

<div class="ui-table">
	<div class="ui-head-son">
		<div class="pure-g">
			<div class="pure-u-6-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">赔率</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">赔率</div>
			</div>
		</div>
	</div>
	<div class="ui-body-son">
		<div class="pure-g" ng-repeat="number in range(0, 5, 2) track by $index">
			<div class="pure-u-6-24">
				<div class="ui-item-son">{{number}}尾</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">
					<span 
						ng-click="selectedPeiyu['TXTW-TTW-TAIL'+number] = selectedPeiyu['TXTW-TTW-TAIL'+number]  == true ? false: true" 
						ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu['TXTW-TTW-TAIL'+number]}" 
						ng-attr-id="{{'TXTW-TTW-TAIL'+number}}" >{{peiyu['TXTW-TTW-TAIL'+number]}}</span>
				</div>
			</div>
			
			<div class="pure-u-6-24" ng-if="number < 4">
				<div class="ui-item-son">{{number+1}}尾</div>
			</div>
			<div class="pure-u-6-24" ng-if="number < 4">
				<div class="ui-item-son">
					<span 
						ng-click="selectedPeiyu['TXTW-TTW-TAIL'+ ( number + 1)] = selectedPeiyu['TXTW-TTW-TAIL'+( number + 1)]  == true ? false: true" 
						ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu['TXTW-TTW-TAIL'+( number + 1)]}" 
						ng-attr-id="{{'TXTW-TTW-TAIL'+( number + 1)}}" >{{peiyu['TXTW-TTW-TAIL'+( number + 1)]}}</span>
				</div>
			</div>
		</div>
	</div>
</div>