<div ng-include="templateURL('/caipiao/disabled.html')"></div>

<div ng-include="templateURL('/caipiao/headers/hk6_header.html')"></div>

<div class="ui-table" ng-init="groups = {
				ZM1: '正码1', 
				ZM2: '正码2',
				ZM3: '正码3',
				ZM4: '正码4',
				ZM5: '正码5',
				ZM6: '正码6'
				}; groupItems = {
					'0BIG': '大',
					'1SMALL': '小',
					'2ODD': '单',
					'3EVEN': '双',
					'4RED': '红波',
					'5GREEN': '绿波',
					'6BLUE': '蓝波',
				}">
	<div class="ui-body-son">
		<div class="pure-g">
			<div class="pure-u-12-24" ng-repeat="(group_id, group_name) in groups">
				<div class="ui-item-son"><span class="white f15 fbold">{{group_name}}</span></div>
				<div class="pure-g" ng-repeat="(group_item_id, group_item_name) in groupItems">
					<div class="pure-u-12-24">
						<div class="ui-item-son"><span ng-class="['color-'+ (group_item_id | substr: 1 | lowercase) ]">{{group_item_name}}</span></div>
					</div>
					<div class="pure-u-12-24">
						<div class="ui-item-son"><span 
						ng-click="selectedPeiyu['ZM1T6-'+group_id+'-'+ ( group_item_id | substr: 1) ] = selectedPeiyu['ZM1T6-'+group_id+'-'+ ( group_item_id | substr: 1)  ]  == true ? false: true" 
						ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu['ZM1T6-'+group_id+'-'+ ( group_item_id | substr: 1) ]}" 
						ng-attr-id="{{'ZM1T6-'+group_id+'-'+ ( group_item_id | substr:1) }}" >{{peiyu['ZM1T6-'+group_id+'-'+ ( group_item_id | substr: 1)]}}</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>