[{"2_18":1}]
êêê
<div class="pure-g lotto-result">
	<div class="pure-u-1-3">
		<div class="info">
			<div class="ui-row row-one">
				<span id="gameBetName" >--</span>&nbsp;<strong class="blue" id="typeBetName">--</strong>
			</div>
			<p class="ui-row row-two">
				当前期：<strong class="blue" id="currentQs">--</strong> 期&nbsp;
			</p>
		</div>
	</div>
	<!-- /left -->
	<div class="pure-u-2-3">
		<div class="result">
			<div class="ui-row row-one cf">
				<div class="ui-head">
					<span class="b red" id="lastQs">--</span>期
				</div>
				<div class="ui-body">
					<ul class="ball-group center" id="lastResult"></ul>
				</div>
			</div>
			<div class="ui-row row-two">
				<!-- 开奖or封盘时间 -->
				<div class="result-time">
					<div class="ui-item item-ssc">
						<ul class="cf">
							<li class="ui-item-gson">距离封盘：<strong class="red" id="closeTime">--:--</strong></li>
							<li class="ui-item-gson">距离开奖：<strong class="red" id="openTime">--:--</strong></li>
						</ul>
					</div>
				</div>
				<!-- / 开奖or封盘时间 -->
			</div>
		</div>
	</div>
</div>
<!-- 快捷下注 -->
<div class="pure-g">
	<div class="pure-u-1">
		<div class="bet-form-action cf">
			<ul class="order r cf">
				<li class="ui-item">快速下注</li>
				<li class="ui-item">
					<input type="text" id="fastbet_input"  class="ui-input ui-hand" maxlength="11" />
				</li>
				<li class="ui-item">
					<input type="button" value="下注" onclick="checkOrder();" class="button button-small button-raised button-primary" />
				</li>
				<li class="ui-item">
					<input type="button" value="重填" onclick="clearBetForm();" class="button button-small button-raised" />
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="betForm" class="bet-form">
	<div class="ui-form">
		<div class="ui-mod ui-tabs">
			<div class="ui-mod-body ui-tabs-body mt40">
				<div class="ui-mod-item ui-tabs-item" id="Qsw">
					<div class="pure-u-1-3">
						<div class="ui-table-loop">
							<div class="pure-u-1"><div class="ui-item-son"><span >百0XX</span></div></div>
							<!-- / 表单标题 -->
							<div class="ui-body-son ui-body-ball">
								<div class="pure-g">
									<!-- 循环行 -->
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-BOXX-ODD">单</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_1" id="YZGG-QSW-BOXX-ODD" value="YZGG-QSW-BOXX-ODD">
											<span id="pl_YZGG-QSW-BOXX-ODD" class="red">-</span>
										</div>
									</div>
									
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-BOXX-EVEN">双</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_1" id="YZGG-QSW-BOXX-EVEN" value="YZGG-QSW-BOXX-EVEN">
											<span id="pl_YZGG-QSW-BOXX-EVEN" class="red">-</span>
										</div>
									</div>
									
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-BOXX-BIG">大</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_1" id="YZGG-QSW-BOXX-BIG" value="YZGG-QSW-BOXX-BIG">
											<span id="pl_YZGG-QSW-BOXX-BIG" class="red">-</span>
										</div>
									</div>
									
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-BOXX-SMALL">小</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_1" id="YZGG-QSW-BOXX-SMALL" value="YZGG-QSW-BOXX-SMALL">
											<span id="pl_YZGG-QSW-BOXX-SMALL" class="red">-</span>
										</div>
									</div>
									
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-BOXX-ZHI">质</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_1" id="YZGG-QSW-BOXX-ZHI" value="YZGG-QSW-BOXX-ZHI">
											<span id="pl_YZGG-QSW-BOXX-ZHI" class="red">-</span>
										</div>
									</div>
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-BOXX-HE">合</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_1" id="YZGG-QSW-BOXX-HE" value="YZGG-QSW-BOXX-HE">
											<span id="pl_YZGG-QSW-BOXX-HE" class="red">-</span>
										</div>
									</div>
									<!-- / 循环行 -->
								</div>
							</div>
							<!-- / 表单主体 -->
						</div>
					</div>
					
					<div class="pure-u-1-3">
						<div class="ui-table-loop">
							<div class="pure-u-1"><div class="ui-item-son"><span >拾X0X</span></div></div>
							<!-- / 表单标题 -->
							<div class="ui-body-son ui-body-ball">
								<div class="pure-g">
									<!-- 循环行 -->
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-SXOX-ODD">单</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_2" id="YZGG-QSW-SXOX-ODD" value="YZGG-QSW-SXOX-ODD">
											<span id="pl_YZGG-QSW-SXOX-ODD" class="red">-</span>
										</div>
									</div>
									
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-SXOX-EVEN">双</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_2" id="YZGG-QSW-SXOX-EVEN" value="YZGG-QSW-SXOX-EVEN">
											<span id="pl_YZGG-QSW-SXOX-EVEN" class="red">-</span>
										</div>
									</div>
									
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-SXOX-BIG">大</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_2" id="YZGG-QSW-SXOX-BIG" value="YZGG-QSW-SXOX-BIG">
											<span id="pl_YZGG-QSW-SXOX-BIG" class="red">-</span>
										</div>
									</div>
									
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-SXOX-SMALL">小</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_2" id="YZGG-QSW-SXOX-SMALL" value="YZGG-QSW-SXOX-SMALL">
											<span id="pl_YZGG-QSW-SXOX-SMALL" class="red">-</span>
										</div>
									</div>
									
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-SXOX-ZHI">质</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_2" id="YZGG-QSW-SXOX-ZHI" value="YZGG-QSW-SXOX-ZHI">
											<span id="pl_YZGG-QSW-SXOX-ZHI" class="red">-</span>
										</div>
									</div>
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-SXOX-HE">合</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_2" id="YZGG-QSW-SXOX-HE" value="YZGG-QSW-SXOX-HE">
											<span id="pl_YZGG-QSW-SXOX-HE" class="red">-</span>
										</div>
									</div>
									<!-- / 循环行 -->
								</div>
							</div>
							<!-- / 表单主体 -->
						</div>
					</div>
					
					<div class="pure-u-1-3">
						<div class="ui-table-loop">
							<div class="pure-u-1"><div class="ui-item-son"><span >个XX0</span></div></div>
							<!-- / 表单标题 -->
							<div class="ui-body-son ui-body-ball">
								<div class="pure-g">
									<!-- 循环行 -->
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-GXXO-ODD">单</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_3" id="YZGG-QSW-GXXO-ODD" value="YZGG-QSW-GXXO-ODD">
											<span id="pl_YZGG-QSW-GXXO-ODD" class="red">-</span>
										</div>
									</div>
									
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-GXXO-EVEN">双</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_3" id="YZGG-QSW-GXXO-EVEN" value="YZGG-QSW-GXXO-EVEN">
											<span id="pl_YZGG-QSW-GXXO-EVEN" class="red">-</span>
										</div>
									</div>
									
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-GXXO-BIG">大</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_3" id="YZGG-QSW-GXXO-BIG" value="YZGG-QSW-GXXO-BIG">
											<span id="pl_YZGG-QSW-GXXO-BIG" class="red">-</span>
										</div>
									</div>
									
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-GXXO-SMALL">小</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_3" id="YZGG-QSW-GXXO-SMALL" value="YZGG-QSW-GXXO-SMALL">
											<span id="pl_YZGG-QSW-GXXO-SMALL" class="red">-</span>
										</div>
									</div>
									
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-GXXO-ZHI">质</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_3" id="YZGG-QSW-GXXO-ZHI" value="YZGG-QSW-GXXO-ZHI">
											<span id="pl_YZGG-QSW-GXXO-ZHI" class="red">-</span>
										</div>
									</div>
									<div class="pure-u-2-5">
										<div class="ui-item-son" id="num_YZGG-QSW-GXXO-HE">合</div>
									</div>
									<div class="pure-u-3-5">
										<div class="ui-item-son">
											<input type="radio" class="ui-radio" name="Num_3" id="YZGG-QSW-GXXO-HE" value="YZGG-QSW-GXXO-HE">
											<span id="pl_YZGG-QSW-GXXO-HE" class="red">-</span>
										</div>
									</div>
									<!-- / 循环行 -->
								</div>
							</div>
							<!-- / 表单主体 -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 快捷下注 -->
<div class="pure-g">
	<div class="pure-u-1">
		<div class="bet-form-action cf">
			<ul class="order r cf">
				<li class="ui-item">快速下注</li>
				<li class="ui-item">
					<input type="text" id="back_fastbet_input"  class="ui-input ui-hand" maxlength="11" />
				</li>
				<li class="ui-item">
					<input type="button" value="下注" onclick="checkOrder();" class="button button-small button-raised button-primary" />
				</li>
				<li class="ui-item">
					<input type="button" value="重填" onclick="clearBetForm();" class="button button-small button-raised" />
				</li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
	function checkOrder() {
		var _xzje = $("#fastbet_input").val();
		if($.trim(_xzje)==''){
			showMessage("提示","请输入下注金额！");
			return;
		}
		if(parseFloat(_xzje)<parseFloat(minMoney)){
			showMessage("提示","单笔最小投注金额："+minMoney+"元!");
			return;
		}
		if(parseFloat(_xzje)>parseFloat(maxMoney)){
			showMessage("提示","单笔最大投注金额："+maxMoney+"元!");
			return;
		}
		
 
		var json = "{token: '{0}', xzje: {1},typeCode:'{2}',cateCode:'{3}'}";
		var trHtml = "";
		var typeCode = "YZGG";
		var cateCode = "QSW";
	 
		var bwArr = new Array();
		var swArr = new Array();
		var gwArr = new Array();
		var total=0;
		$("#betForm input[type='radio'][name^='Num_1']:checked").each(function() {
			bwArr.push($(this).val());
			total = total+1;
		});
		$("#betForm input[type='radio'][name^='Num_2']:checked").each(function() {
			swArr.push($(this).val());
			total = total+1;
		});
		$("#betForm input[type='radio'][name^='Num_3']:checked").each(function() {
			gwArr.push($(this).val());
			total = total+1;
		});
		if(total<2){
			showMessage("提示","至少需要选择两组号码！");
			return;
		}
		
		$.ajax({
		    url:rootPath+"/cpOrder/getGroupOrderList", 
		    data:{"bwNum":bwArr.toString(),"swNum":swArr.toString(),"gwNum":gwArr.toString(),"gameCode":cp_gameTypeCode_temp,"typeCode":typeCode,"cateCode":cateCode,"multilen":88},
		    type:'post',
		    cache:false,
		    timeout : 30000,
		    dataType:'json',
		    success:function(data){
		    	var orderList = data.orderList;
		    	if(orderList.length>0){
		    		for(var i=0;i<orderList.length;i++){
		    			var _rate = orderList[i].rate;
		    			var _number = orderList[i].number;
		    			var _cateName = orderList[i].cateName;
		    			trHtml += getTrTtml(_cateName, _number, _rate, _xzje);
		    		}
		    		var buffer = json.format(data.token,_xzje,typeCode,cateCode);
		    		var totalMoney =  parseFloat(_xzje)*orderList.length;
		    		doOrderSubmitShow(getOrderDivHtml(orderList.length, totalMoney, trHtml), buffer,"yzgg");
		    	}else{
		    		showMessage("提示","下注异常！");
		    	}
		     }, 
		     error : function(){
		    	 showMessage("提示","下注异常！");
		     }    
		});  
	}
	
</script>
