<div class="footer-nav">
	<div class="wrapper">
		<ul class="clearfix">
			<div ng-click="go(baseURI + '/m/main')" class="footer-link-bg "><li class="home"><a ui-sref="home">首页</a></li></div>
			<div ng-click="go(baseURI + '/m/main?code=live')" class="footer-link-bg "><li class="live"><a ng-href="{{baseURI}}/m/main?code=live ">真人</a></li></div>
			<div ng-click="go(baseURI + '/m/main?code=sport')" class="footer-link-bg "><li class="sport"><a ng-href="{{baseURI}}/m/main?code=sport ">体育</a></li></div>
			<div ng-click="go(baseURI + '/m/main?code=slot_pt')" class="footer-link-bg "><li class="electric"><a ng-href="{{baseURI}}/m/main?code=slot_pt ">电子</a></li></div>
			<div ng-click="go(baseURI + '/m/wap')" class="footer-link-bg "><li class="cp"><a ng-href="{{baseURI}}/m/wap">彩票</a></li></div>
		</ul>
	</div>
</div>