<ng-include src="templateURL('/header.html')"></ng-include>

<div class="main-content-wrapper">
	<div class="messages-wrapper order-wrapper">
		<div class="elements-wrapper">
			<div class="form form-deposit">
				<div class="form-element">
					<ul class="clearfix">
						<li><span class="white">● 皇冠体育注单</span></li>
						<li><button class="btn bg-submit btn-view-conversion" ng-click="openDialog('sport')">查询</button></li>
					</ul>
				</div>
				<div class="form-element">
					<ul class="clearfix">
						<li><span class="white">● AG游戏注单</span></li>
						<li><button class="btn bg-submit btn-view-conversion" ng-click="openDialog('ag')">查询</button></li>
					</ul>
				</div>
				<div class="form-element">
					<ul class="clearfix">
						<li><span class="white">● MG游戏注单</span></li>
						<li><button class="btn bg-submit btn-view-conversion" ng-click="openDialog('mg')">查询</button></li>
					</ul>
				</div>
				<div class="form-element">
					<ul class="clearfix">
						<li><span class="white">● PT游戏注单</span></li>
						<li><button class="btn bg-submit btn-view-conversion" ng-click="openDialog('pt')">查询</button></li>
					</ul>
				</div>
				<div class="form-element">
					<ul class="clearfix">
						<li><span class="white">● OS游戏注单</span></li>
						<li><button class="btn bg-submit btn-view-conversion" ng-click="openDialog('os')">查询</button></li>
					</ul>
				</div>
				<div class="form-element">
					<ul class="clearfix">
						<li><span class="white">● 沙巴注单</span></li>
						<li><button class="btn bg-submit btn-view-conversion" ng-click="openDialog('sb')">查询</button></li>
					</ul>
				</div>
				<div class="form-element">
					<ul class="clearfix">
						<li><span class="white">● BBIN游戏注单</span></li>
						<li><button class="btn bg-submit btn-view-conversion" ng-click="openDialog('bbin')">查询</button></li>
					</ul>
				</div>
				<div class="form-element">
					<ul class="clearfix">
						<li><span class="white">● TTG游戏注单</span></li>
						<li><button class="btn bg-submit btn-view-conversion" ng-click="openDialog('ttg')">查询</button></li>
					</ul>
				</div>
				<div class="form-element">
					<ul class="clearfix">
						<li><span class="white">● HG游戏注单</span></li>
						<li><button class="btn bg-submit btn-view-conversion" ng-click="openDialog('hg')">查询</button></li>
					</ul>
				</div>
				<div class="form-element">
					<ul class="clearfix">
						<li><span class="white">● SA游戏注单</span></li>
						<li><button class="btn bg-submit btn-view-conversion" ng-click="openDialog('sa')">查询</button></li>
					</ul>
				</div>
                <div class="form-element">
                    <ul class="clearfix">
                        <li><span class="white">● DS游戏注单</span></li>
                        <li><button class="btn bg-submit btn-view-conversion" ng-click="openDialog('ds')">查询</button></li>
                    </ul>
                </div>
			</div>
		</div>
	</div>
</div>

