@charset "UTF-8";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~過關 old style 改背景色~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.pr_cen {	background-color: #EEDF68; text-align:center;white-space:nowrap;}/*table style*/
.pr_rig {background-color:#EEDF68; text-align:right;white-space:nowrap;/*解決賠率斷行*/}
.pr_lef {background-color:#EEDF68; text-align:left;white-space:nowrap;}
.pr_1st {background-color:#EEDF68;text-align: center; /*width:14%;*/white-space:nowrap;}
.pr_1stR {background-color:#EEDF68;text-align: right;/* width:14%;*/white-space:nowrap;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~過關2串1~~~~~~~~~~~~~~~~~~~~~~~~~~*//**/
.IN{ width:40px;}
.IN .show_p3 , .game_team .show_p3 { height:16px;}
.IN .show_p3 td , .game_team .show_p3 td  { height:16px;font-size:11px;font-family:Arial; font-weight:bold; vertical-align:top; color:#000;}


.game td .IN{ text-align:right;padding-right:0;}
.game_team .show_p3 { position:absolute;right:25px; color:#000; margin-right:5px; margin-top:2px;}
/* ~~~~~ 串 ~~~~~  *//**/
.IN .show_p3 .em , .game_team .show_p3 .em { width:11px; /*font-size:11px!important;*/ padding:0; /*font-style:italic; font-family: "Courier New", Courier, monospace;*/background:url(../images/show_p3_bg.gif) no-repeat 0 0;}
/* ~~~~~ left & right ~~~~~ */
.IN .show_p3 .p3_num1, .game_team .show_p3 .p3_num1 { padding:0 1px 0 3px; line-height:12px;background:url(../images/show_p3_left.gif) no-repeat 0 0; white-space:nowrap;}
.IN .show_p3 .p3_num2, .game_team .show_p3 .p3_num2 { padding:0 4px 0 0px; line-height:12px;background:url(../images/show_p3_right.gif) no-repeat 100% 0;}

/* ~~~~~ Safari Hack ~~~~~
html > body .IN>.show_p3 { margin-top:-14px;}*/
html > body .game_team .show_p3 { margin-top:-14px;margin-right:0;}
html > body .game td .IN{ text-align:right!important;}
html > body .game td .IN .show_p3 { position:absolute; margin-right:8px; margin-top:-7px;right: 0px;}


