/* reset */
*{ margin: 0; padding: 0;}
body{ font-size: 12px; line-height: 1; text-align: center;}
h1,h2,h3,h6{ font-size: 100%; font-weight: normal;}
table{ width: 100%; border-collapse: collapse; border-spacing: 0;}
ul{ list-style: none;}
img, input, select{ border: 0; outline: none;}
input, select{ font-size: 12px; transition: color .5s;}
input{ background: none;}
em{ font-style: normal;}
a{ color: #222; text-decoration: none; transition: color .5s;}
::selection{ color: #000; background-color: #ddd;}
/* class */
.left{ float: left;}
.right{ float: right;}
.clear{ *zoom: 1;}
.clear:after{ clear: both;}
.clear:after, .clear:before{ content: ""; display: table;}
.mt5{ margin-top: 5px;}
.mt10{ margin-top: 10px;}
.mt15{ margin-top: 15px;}
.mt20{ margin-top: 20px;}
.mt30{ margin-top: 30px;}
.mt40{ margin-top: 40px;}
.mr5{ margin-right: 5px;}
.mr10{ margin-right: 10px;}
.mr15{ margin-right: 15px;}
.mr20{ margin-right: 20px;}
.ml5{ margin-left: 5px;}
.ml10{ margin-left: 10px;}
.ml15{ margin-left: 15px;}
.ml20{ margin-left: 20px;}
.pt5{ padding-top: 5px;}
.pt10{ padding-top: 10px;}
.pt15{ padding-top: 15px;}
.pt20{ padding-top: 20px;}
.pt30{ padding-top: 30px;}
.pr5{ padding-right: 5px;}
.pr10{ padding-right: 10px;}
.pr15{ padding-right: 15px;}
.pr20{ padding-right: 20px;}
.pb5{ padding-bottom: 5px;}
.pb10{ padding-bottom: 10px;}
.pb15{ padding-bottom: 15px;}
.pb20{ padding-bottom: 20px;}
.pl5{ padding-left: 5px;}
.pl10{ padding-left: 10px;}
.pl15{ padding-left: 15px;}
.pl20{ padding-left: 20px;}
.w50{ width: 50px;}
.w100{ width: 100px;}
.w150{ width: 150px;}
.w200{ width: 200px;}
.s12{ font-size: 12px;}
.s14{ font-size: 14px;}
.s16{ font-size: 16px;}
.s18{ font-size: 18px;}
.s20{ font-size: 20px;}
.s24{ font-size: 24px;}
.s30{ font-size: 30px;}
.s40{ font-size: 40px;}
.s60{ font-size: 60px;}
.b{ font-weight: bold;}
.block{ display: block; height: 100%;}
.center{ text-align: center;}
.al{ text-align: left;}
.ar{ text-align: right;}
.white{ color: #fff;}
.yellow{ color: #aaa;}
.gray,
.gray a{ color: #999;}
.inner{ margin: auto; width: 1000px;}
.inner{
  margin: auto;
  width: 1000px;
}
/* Main */
.wrapper{
  background: url(../img/bg.jpg) center 0 #001040 no-repeat;
}
.assist-line-header{}
  .assist-line-header .inner{
    height: 130px;
  }
 .assist-line-logo{
    width: 350px;
    height: 134px;
  }
  .assist-line-logo {
    width: 350px;
    height: 134px;
    background: url(../img/index/logo.png) center;
  }
  .assist-line-header-tips{
    text-shadow: 0 0 5px #000040;
  }
.assist-line-container{}
  .assist-line-container .bg-alpha{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
  }
  .assist-line-main{
    position: relative;
    width: 740px;
  }
    .assist-line-main .content{
      position: relative;
      z-index: 2;
      padding: 20px;
    }
    .assist-line-main .bg-alpha{
      width: 740px;
      height: 100%;
      /*border-radius: 7px;*/
      background-color: #333;
    }
      .assist-line-url{}
        .assist-line-url .speed-item{
          position: relative;
          float: left;
          height: 40px;
          line-height: 40px;
        }
          .assist-line-url .text{
            position: relative;
            z-index: 2;
          }
          .assist-line-url .text input{
            height: 40px;
            line-height: 40px;
          }
          .assist-line-url .bg-alpha{
            height: 40px;
            border-radius: 0;
            background-color: #666;
          }
        .assist-line-url .speed-ms,
        .assist-line-url .speed-ms input,
        .assist-line-url .speed-ms .bg-alpha{
          width: 150px;
        }
        .assist-line-url .speed-url,
        .assist-line-url .speed-url input,
        .assist-line-url .speed-url .bg-alpha{
          width: 360px;
        }
        .assist-line-url .speed-view,
        .assist-line-url .speed-view .bg-alpha{
          width: 190px;
        }
        .assist-line-btn{
          display: inline-block;
          *display: inline;
          *zoom: 1;
          overflow: hidden;
          width: 100px;
          height: 40px;
          line-height: 40px;
          background-color: #666;
        }
  .assist-line-sidebar{
    width: 240px;
    /*border-radius: 5px;*/
    box-shadow: 0 0 10px #000040;
  }
    .assist-line-sidebar .item{
      position: relative;
      padding: 0 20px;
      overflow: hidden;
    }
      .assist-line-sidebar .text{
        position: relative;
        z-index: 2;
        padding: 20px 0;
      }
      .assist-line-sidebar p{
        line-height: 1.5;
      }
      .assist-line-sidebar .bg-alpha{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 240px;
        height: 140px;
        background-color: #333;
        opacity: 0.7;
        filter: alpha(opacity=70);
        -webkit-opacity: 0.7;
        -moz-opacity: 0.7;
        -khtml-opacity: 0.7;
      }
      .assist-line-sidebar .item-one .bg-alpha{}
      .assist-line-sidebar .item-style-two .bg-alpha{
        background-color: #666;
      }
    .assist-line-sidebar .item-last,
    .assist-line-sidebar .item-last .bg-alpha{
      height: 156px;
    }
.assist-line-footer{
  padding-bottom: 30px;
}
  .assist-line-contact li{
    float: left;
    width: 25%;
  }
    .assist-line-contact i{
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 1px;
    }
    .assist-line-contact h6{
      padding-top: 10px;
      line-height: 1.3;
    }