[{"2_20":1}]
êêê
<div class="pure-g lotto-result">
	<div class="pure-u-1-3">
		<div class="info">
			<div class="ui-row row-one">
				<span id="gameBetName" >--</span>&nbsp;<strong class="blue" id="typeBetName">--</strong>
			</div>
			<p class="ui-row row-two">
				当前期：<strong class="blue" id="currentQs">--</strong> 期&nbsp;
			</p>
		</div>
	</div>
	<!-- /left -->
	<div class="pure-u-2-3">
		<div class="result">
			<div class="ui-row row-one cf">
				<div class="ui-head">
					<span class="b red" id="lastQs">--</span>期
				</div>
				<div class="ui-body">
					<ul class="ball-group center" id="lastResult"></ul>
				</div>
			</div>
			<div class="ui-row row-two">
				<!-- 开奖or封盘时间 -->
				<div class="result-time">
					<div class="ui-item item-ssc">
						<ul class="cf">
							<li class="ui-item-gson">距离封盘：<strong class="red" id="closeTime">--:--</strong></li>
							<li class="ui-item-gson">距离开奖：<strong class="red" id="openTime">--:--</strong></li>
						</ul>
					</div>
				</div>
				<!-- / 开奖or封盘时间 -->
			</div>
		</div>
	</div>
</div>
<!-- 快捷下注 -->
<div class="pure-g">
	<div class="pure-u-1">
		<div class="bet-form-action cf">
			<ul class="order r cf">
				<li class="ui-item">快速下注</li>
				<li class="ui-item">
					<input type="text" id="fastbet_input"  class="ui-input ui-hand" maxlength="11" />
				</li>
				<li class="ui-item">
					<input type="button" value="下注" onclick="checkOrder();" class="button button-small button-raised button-primary" />
				</li>
				<li class="ui-item">
					<input type="button" value="重填" onclick="clearBetForm();" class="button button-small button-raised" />
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="betForm" class="bet-form">
	<div class="ui-form">
		<div class="ui-mod ui-tabs">
			<div class="ui-mod-body ui-tabs-body mt40">
				<div class="ui-mod-item ui-tabs-item" id="Qsw">
					<div class="ui-table">
						<div class="pure-g">
							<div class="pure-u-1-5">
								<div class="ui-table-loop">
									<div class="ui-head-son">
										<div class="pure-g">
											<div class="pure-u-7-24">
												<div class="ui-item-son">号码</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">勾选</div>
											</div>
										</div>
									</div>
									<!-- / 表单标题 -->
									<div class="ui-body-son ui-body-ball">
										<div class="pure-g">
											<!-- 循环行 -->
											<div class="pure-u-7-24">
												<div class="ui-item-son">0</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">
													<input type="checkbox" class="ui-checkbox"  id="Num_0" onclick="counts(this,0)"  name="number[]" value="0" />
												</div>
											</div>
											<div class="pure-u-7-24">
												<div class="ui-item-son">5</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">
													<input type="checkbox" class="ui-checkbox"  id="Num_5" onclick="counts(this,5)"  name="number[]" value="5" />
												</div>
											</div>
											<!-- / 循环行 -->
										</div>
									</div>
									<!-- / 表单主体 -->
								</div>
							</div>
							<!-- / 循环列 -->
		 
							<div class="pure-u-1-5">
								<div class="ui-table-loop">
									<div class="ui-head-son">
										<div class="pure-g">
											<div class="pure-u-7-24">
												<div class="ui-item-son">号码</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">勾选</div>
											</div>
										</div>
									</div>
									<!-- / 表单标题 -->
									<div class="ui-body-son ui-body-ball">
										<div class="pure-g">
											<!-- 循环行 -->
											<div class="pure-u-7-24">
												<div class="ui-item-son">1</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">
													<input type="checkbox" class="ui-checkbox"  id="Num_1" onclick="counts(this,1)"  name="number[]" value="1" />
												</div>
											</div>
											<div class="pure-u-7-24">
												<div class="ui-item-son">6</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">
													<input type="checkbox" class="ui-checkbox"  id="Num_6" onclick="counts(this,6)"  name="number[]" value="6" />
												</div>
											</div>
											<!-- / 循环行 -->
										</div>
									</div>
									<!-- / 表单主体 -->
		 						</div>
		 					</div>
		 					
		 					<div class="pure-u-1-5">
								<div class="ui-table-loop">
									<div class="ui-head-son">
										<div class="pure-g">
											<div class="pure-u-7-24">
												<div class="ui-item-son">号码</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">勾选</div>
											</div>
										</div>
									</div>
									<!-- / 表单标题 -->
									<div class="ui-body-son ui-body-ball">
										<div class="pure-g">
											<!-- 循环行 -->
											<div class="pure-u-7-24">
												<div class="ui-item-son">2</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">
													<input type="checkbox" class="ui-checkbox"  id="Num_2" onclick="counts(this,2)"  name="number[]" value="2" />
												</div>
											</div>
											<div class="pure-u-7-24">
												<div class="ui-item-son">7</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">
													<input type="checkbox" class="ui-checkbox"  id="Num_7" onclick="counts(this,7)"  name="number[]" value="7" />
												</div>
											</div>
											<!-- / 循环行 -->
										</div>
									</div>
									<!-- / 表单主体 -->
		 						</div>
		 					</div>
		 					
		 					<div class="pure-u-1-5">
								<div class="ui-table-loop">
									<div class="ui-head-son">
										<div class="pure-g">
											<div class="pure-u-7-24">
												<div class="ui-item-son">号码</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">勾选</div>
											</div>
										</div>
									</div>
									<!-- / 表单标题 -->
									<div class="ui-body-son ui-body-ball">
										<div class="pure-g">
											<!-- 循环行 -->
											<div class="pure-u-7-24">
												<div class="ui-item-son">3</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">
													<input type="checkbox" class="ui-checkbox"  id="Num_3" onclick="counts(this,3)"  name="number[]" value="3" />
												</div>
											</div>
											<div class="pure-u-7-24">
												<div class="ui-item-son">8</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">
													<input type="checkbox" class="ui-checkbox"  id="Num_8" onclick="counts(this,8)"  name="number[]" value="8" />
												</div>
											</div>
											<!-- / 循环行 -->
										</div>
									</div>
									<!-- / 表单主体 -->
		 						</div>
		 					</div>
		 					
		 					<div class="pure-u-1-5">
								<div class="ui-table-loop">
									<div class="ui-head-son">
										<div class="pure-g">
											<div class="pure-u-7-24">
												<div class="ui-item-son">号码</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">勾选</div>
											</div>
										</div>
									</div>
									<!-- / 表单标题 -->
									<div class="ui-body-son ui-body-ball">
										<div class="pure-g">
											<!-- 循环行 -->
											<div class="pure-u-7-24">
												<div class="ui-item-son">4</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">
													<input type="checkbox" class="ui-checkbox"  id="Num_4" onclick="counts(this,4)"  name="number[]" value="4" />
												</div>
											</div>
											<div class="pure-u-7-24">
												<div class="ui-item-son">9</div>
											</div>
											<div class="pure-u-17-24">
												<div class="ui-item-son">
													<input type="checkbox" class="ui-checkbox"  id="Num_9" onclick="counts(this,9)"  name="number[]" value="9" />
												</div>
											</div>
											<!-- / 循环行 -->
										</div>
									</div>
									<!-- / 表单主体 -->
		 						</div>
		 					</div>
		 				</div>
		 				<div class="ui-body-son">
							<div class="pure-g">
								<div class="pure-u-5-5">
									<div class="ui-item-son" style="height: 36px; border-top: 0; border-bottom-width: 1px;">
 										赔率： <span id="betInfo"></span> <span id="betRate" class="red"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- / ui-table -->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 快捷下注 -->
<div class="pure-g">
	<div class="pure-u-1">
		<div class="bet-form-action cf">
			<ul class="order r cf">
				<li class="ui-item">快速下注</li>
				<li class="ui-item">
					<input type="text" id="back_fastbet_input"  class="ui-input ui-hand" maxlength="11" />
				</li>
				<li class="ui-item">
					<input type="button" value="下注" onclick="checkOrder();" class="button button-small button-raised button-primary" />
				</li>
				<li class="ui-item">
					<input type="button" value="重填" onclick="clearBetForm();" class="button button-small button-raised" />
				</li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
	var selectNums = "";
	var betRate = 0;
	var lang_js_err1 = "选择的号码最小为5个！";
	var ftime = 15000;
	var zrate = new Array();
	var wt = new Array(0, 0, 0, 0, 0, 0);
	zrate[01] = 140;
	zrate[02] = 140;
	zrate[03] = 140;
	zrate[04] = 140;
	zrate[05] = 140;
	zrate[06] = 140;
	zrate[07] = 140;
	zrate[08] = 140;
	zrate[09] = 140;
	zrate[12] = 140;
	zrate[13] = 140;
	zrate[14] = 140;
	zrate[15] = 140;
	zrate[16] = 140;
	zrate[17] = 140;
	zrate[18] = 140;
	zrate[19] = 140;
	zrate[23] = 140;
	zrate[24] = 140;
	zrate[25] = 140;
	zrate[26] = 140;
	zrate[27] = 140;
	zrate[28] = 140;
	zrate[29] = 140;
	zrate[34] = 140;
	zrate[35] = 140;
	zrate[36] = 140;
	zrate[37] = 140;
	zrate[38] = 140;
	zrate[39] = 140;
	zrate[45] = 140;
	zrate[46] = 140;
	zrate[47] = 140;
	zrate[48] = 140;
	zrate[49] = 140;
	zrate[56] = 140;
	zrate[57] = 140;
	zrate[58] = 140;
	zrate[59] = 140;
	zrate[67] = 140;
	zrate[68] = 140;
	zrate[69] = 140;
	zrate[78] = 140;
	zrate[79] = 140;
	zrate[89] = 140;
	function checkUsrChecked() {
		var countA = 0;
		selectNums = "";
		
		var selArr = new Array();
		var obj = $("#betForm input[type='checkbox'][name ^='number[]']:checkbox");
		$("#betForm input[type='checkbox'][name^='number[]']:checked").each(function() {
			countA++;
			selArr.push($(this).val());
		});
		selArr.sort();
		for(var i=0;i<selArr.length;i++){
			selectNums +=selArr[i] + ' ';
		}
		if (countA < 5) {
			document.getElementById("betRate").innerText = '';
			return false;
		}
 
		return true;
	}

	function counts(arr, key) {
 
		betRate = 0;
		var betInfo = document.getElementById("betInfo");
		betInfo.innerText = "";
		document.getElementById("betRate").innerText = "";
		if (!checkUsrChecked())
			return;
		var ItemRate = 0;
		var betCount = 0;
		selectNums = selectNums.split(" ");
		var lrate = 0;
		for (i = 0; i < selectNums.length - 2; i++) {
			for (k = i + 1; k < selectNums.length - 1; k++) {
				tmpstr = selectNums[i] + selectNums[k];
				if(typeof(zrate[parseFloat(tmpstr)]) !="undefined"){
					betRate += parseFloat(zrate[parseFloat(tmpstr)]);
					lrate++;
				}
			}
		}
		betRate = betRate / lrate;
		if (betCount >= 0) {
			betRate = Math.round((betRate / lrate - wt[selectNums.length - 6]) * 100) / 100.0;
			selectNums = selectNums.toString();
			selectNums = selectNums.substring(0, selectNums.length - 1);
			betInfo.innerText = '( ' + selectNums + ' ) @ ';
			document.getElementById("betRate").innerText = betRate;
		}
	}
	
	function checkOrder() {
		var _xzje = $("#fastbet_input").val();
		if($.trim(_xzje)==''){
			showMessage("提示","请输入下注金额！");
			return;
		}
		if(parseFloat(_xzje)<parseFloat(minMoney)){
			showMessage("提示","单笔最小投注金额："+minMoney+"元!");
			return;
		}
		if(parseFloat(_xzje)>parseFloat(maxMoney)){
			showMessage("提示","单笔最大投注金额："+maxMoney+"元!");
			return;
		}
		
 
 
		var json = "{token: '{0}', xzje: {1},typeCode:'{2}',cateCode:'{3}'}";
		var trHtml = "";
		var typeCode = "ZXS";
		var cateCode = "QSW";
		if (!checkUsrChecked(cateCode)) {
			showMessage("提示",lang_js_err1);
			return false;
		}
		
		var dataArr = new Array();
		$("#betForm input[type='checkbox'][name^='number[]']:checked").each(function() {
			dataArr.push($(this).val());
		});
 
		$.ajax({
		    url:rootPath+"/cpOrder/getGroupOrderList", 
		    data:{"num":dataArr.toString(),"gameCode":cp_gameTypeCode_temp,"typeCode":typeCode,"cateCode":cateCode,"multilen":3},
		    type:'post',
		    cache:false,
		    timeout : 30000,
		    dataType:'json',
		    success:function(data){
		    	var orderList = data.orderList;
		    	if(orderList.length>0){
		    		for(var i=0;i<orderList.length;i++){
		    			var _rate = orderList[i].rate;
		    			var _number = orderList[i].number;
		    			var _cateName = orderList[i].cateName;
		    			trHtml += getTrTtml(_cateName, _number, _rate, _xzje);
		    		}
		    		var buffer = json.format(data.token,_xzje,typeCode,cateCode);
		    		var totalMoney =  parseFloat(_xzje)*orderList.length;
		    		doOrderSubmitShow(getOrderDivHtml(orderList.length, totalMoney, trHtml), buffer,"group");
		    	}else{
		    		showMessage("提示","下注异常！");
		    	}
		     }, 
		     error : function(){
		    	 showMessage("提示","下注异常！");
		     }    
		});  
	}
	
</script>
