/*
* Base Button Style
*
* The default values for the .button class
*/

.button {
  color: #666666;
  background-color: #eeeeee;
  border-color: #eeeeee;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  /*
  * Disabled State
  *
  * The disabled state uses the class .disabled, is-disabled,
  * and the form attribute disabled="disabled".
  * The use of !important is only added because this is a state
  * that must be applied to all buttons when in a disabled state.
  */
}
.button:visited {
  color: #666666;
}
.button:hover,
.button:focus {
  background-color: #f6f6f6;
  text-decoration: none;
  outline: none;
}
.button:active,
.button.active,
.button.is-active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  text-decoration: none;
  background-color: #eeeeee;
  border-color: #cfcfcf;
  color: #d4d4d4;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.button.disabled,
.button.is-disabled,
.button:disabled {
  top: 0 !important;
  background: #EEE !important;
  border: 1px solid #DDD !important;
  text-shadow: 0 1px 1px white !important;
  color: #CCC !important;
  cursor: default !important;
  appearance: none !important;
}
.button.disabled else,
.button.is-disabled else,
.button:disabled else {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  opacity: .8 !important;
}

/*
* Base Colors
*
* Create colors for buttons
* (.button-primary, .button-secondary, etc.)
*/

.button-primary,
.button-primary-flat {
  background-color: #1b9af7;
  border-color: #1b9af7;
  color: white;
}
.button-primary:visited,
.button-primary-flat:visited {
  color: white;
}
.button-primary:hover,
.button-primary:focus,
.button-primary-flat:hover,
.button-primary-flat:focus {
  background-color: #4cb0f9;
  border-color: #4cb0f9;
  color: white;
}
.button-primary:active,
.button-primary.active,
.button-primary.is-active,
.button-primary-flat:active,
.button-primary-flat.active,
.button-primary-flat.is-active {
  background-color: #2798eb;
  border-color: #2798eb;
  color: #0880d7;
}
.button-highlight,
.button-highlight-flat {
  background-color: #feae1b;
  border-color: #feae1b;
  color: white;
}
.button-highlight:visited,
.button-highlight-flat:visited {
  color: white;
}
.button-highlight:hover,
.button-highlight:focus,
.button-highlight-flat:hover,
.button-highlight-flat:focus {
  background-color: #fec04e;
  border-color: #fec04e;
  color: white;
}
.button-highlight:active,
.button-highlight.active,
.button-highlight.is-active,
.button-highlight-flat:active,
.button-highlight-flat.active,
.button-highlight-flat.is-active {
  background-color: #f3ab26;
  border-color: #f3ab26;
  color: #e59501;
}

/*
* Raised Buttons
*
* A classic looking button that offers
* great depth and affordance.
*/

.button-raised {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 1px;
  line-height: 38px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e1e1e1));
  background: linear-gradient(#f6f6f6, #e1e1e1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
}
.button-raised:hover,
.button-raised:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(gainsboro));
  background: linear-gradient(top, white, gainsboro);
}
.button-raised:active,
.button-raised.active,
.button-raised.is-active {
  background: #eeeeee;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
}

/*
* Raised Button Colors
*
* Create colors for raised buttons
*/

.button-raised.button-primary {
  border-color: #088ef0;
  background: -webkit-gradient(linear, left top, left bottom, from(#34a5f8), to(#088ef0));
  background: linear-gradient(#34a5f8, #088ef0);
}
.button-raised.button-primary:hover,
.button-raised.button-primary:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#42abf8), to(#0888e6));
  background: linear-gradient(top, #42abf8, #0888e6);
}
.button-raised.button-primary:active,
.button-raised.button-primary.active,
.button-raised.button-primary.is-active {
  border-color: #0880d7;
  background: #2798eb;
}
.button-raised.button-plain {
  border-color: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f2));
  background: linear-gradient(white, #f2f2f2);
}
.button-raised.button-plain:hover,
.button-raised.button-plain:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
  background: linear-gradient(top, white, #ededed);
}
.button-raised.button-plain:active,
.button-raised.button-plain.active,
.button-raised.button-plain.is-active {
  border-color: #e6e6e6;
  background: white;
}
.button-raised.button-inverse {
  border-color: #151515;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), to(#151515));
  background: linear-gradient(#2f2f2f, #151515);
}
.button-raised.button-inverse:hover,
.button-raised.button-inverse:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#101010));
  background: linear-gradient(top, #363636, #101010);
}
.button-raised.button-inverse:active,
.button-raised.button-inverse.active,
.button-raised.button-inverse.is-active {
  border-color: #090909;
  background: #222222;
}
.button-raised.button-action {
  border-color: #9ad824;
  background: -webkit-gradient(linear, left top, left bottom, from(#afe24d), to(#9ad824));
  background: linear-gradient(#afe24d, #9ad824);
}
.button-raised.button-action:hover,
.button-raised.button-action:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#b5e45a), to(#94cf22));
  background: linear-gradient(top, #b5e45a, #94cf22);
}
.button-raised.button-action:active,
.button-raised.button-action.active,
.button-raised.button-action.is-active {
  border-color: #8bc220;
  background: #a1d243;
}
.button-raised.button-highlight {
  border-color: #fea502;
  background: -webkit-gradient(linear, left top, left bottom, from(#feb734), to(#fea502));
  background: linear-gradient(#feb734, #fea502);
}
.button-raised.button-highlight:hover,
.button-raised.button-highlight:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#febc44), to(#f49f01));
  background: linear-gradient(top, #febc44, #f49f01);
}
.button-raised.button-highlight:active,
.button-raised.button-highlight.active,
.button-raised.button-highlight.is-active {
  border-color: #e59501;
  background: #f3ab26;
}
.button-raised.button-caution {
  border-color: #ff2939;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff5c69), to(#ff2939));
  background: linear-gradient(#ff5c69, #ff2939);
}
.button-raised.button-caution:hover,
.button-raised.button-caution:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6c77), to(#ff1f30));
  background: linear-gradient(top, #ff6c77, #ff1f30);
}
.button-raised.button-caution:active,
.button-raised.button-caution.active,
.button-raised.button-caution.is-active {
  border-color: #ff1022;
  background: #f64c59;
}
.button-raised.button-royal {
  border-color: #665ce6;
  background: -webkit-gradient(linear, left top, left bottom, from(#9088ec), to(#665ce6));
  background: linear-gradient(#9088ec, #665ce6);
}
.button-raised.button-royal:hover,
.button-raised.button-royal:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#9c95ef), to(#5e53e4));
  background: linear-gradient(top, #9c95ef, #5e53e4);
}
.button-raised.button-royal:active,
.button-raised.button-royal.active,
.button-raised.button-royal.is-active {
  border-color: #5246e2;
  background: #827ae1;
}

/*
* Button Sizes
*
* This file creates the various button sizes
* (ex. .button-large, .button-small, etc.)
*/

.button-giant {
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  padding: 0 70px;
}
.button-jumbo {
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  padding: 0 60px;
}
.button-large {
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  padding: 0 50px;
}
.button-normal {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
}
.button-small {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
.button-tiny {
  font-size: 9.6px;
  height: 24px;
  line-height: 24px;
  padding: 0 24px;
}