<div class="play caipiao-groups">
	<ul class="clearfix">
		
		<li>
			<h3 class="f14 white"><a class="white" ui-sref="caipiao.play.pankou({pankou: 'SM', type: 'SM'})">双面</a></h3>
		</li>
		<li>
			<h3 class="f14 white"><a class="white" ui-sref="caipiao.play.pankou({pankou: 'GJ', type: 'GJ'})" >冠军</a></h3>
		</li>
		<li>
			<h3 class="f14 white"><a class="white" ui-sref="caipiao.play.pankou({pankou: 'YJ', type: 'YJ'})">亚军</a></h3>
		</li>
		<li>
			<h3 class="f14 white"><a class="white" ui-sref="caipiao.play.pankou({pankou: 'JJ', type: 'JJ'})">季军</a></h3>
		</li>
		<li>
			<h3 class="f14 white"><a class="white" ui-sref="caipiao.play.pankou({pankou: 'D4M', type: 'D4M'})">第四名</a></h3>
		</li>
		<li>
			<h3 class="f14 white"><a class="white" ui-sref="caipiao.play.pankou({pankou: 'D5M', type: 'D5M'})">第五名</a></h3>
		</li>
		<li>
			<h3 class="f14 white"><a class="white" ui-sref="caipiao.play.pankou({pankou: 'D6M', type: 'D6M'})">第六名</a></h3>
		</li>
		<li>
			<h3 class="f14 white"><a class="white" ui-sref="caipiao.play.pankou({pankou: 'D7M', type: 'D7M'})">第七名</a></h3>
		</li>
		<li>
			<h3 class="f14 white"><a class="white" ui-sref="caipiao.play.pankou({pankou: 'D8M', type: 'D8M'})">第八名</a></h3>
		</li>
		<li>
			<h3 class="f14 white"><a class="white" ui-sref="caipiao.play.pankou({pankou: 'D9M', type: 'D9M'})">第九名</a></h3>
		</li>
		<li>
			<h3 class="f14 white"><a class="white" ui-sref="caipiao.play.pankou({pankou: 'D10M', type: 'D10M'})">第十名</a></h3>
		</li>
		<li>
			<h3 class="f14 white"><a class="white" ui-sref="caipiao.play.pankou({pankou: 'GYJH', type: 'GYJH'})">冠军亚和</a></h3>
		</li>
		
	</ul>
</div>