<div ng-include="templateURL('/caipiao/disabled.html')"></div>

<pk10header></pk10header>

<div class="ui-table">
	<div class="ui-body-son">
		<div class="pure-g">
			<div class="pure-u-24-24">
				<div class="ui-item-son text-center bg-2">{{code2Label}}</div>
			</div>
		</div>
		<div class="pure-g">
		
			<div class="pure-u-6-24">
				<div class="ui-item-son text-center">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son text-center">赔率</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son text-center">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son text-center">赔率</div>
			</div>
		</div>
		
		
		
		
		<div class="pure-g">
		
			<div class="pure-u-6-24">
				 <div class="ui-item-son" >
				 	<ball number="01" type="kk"></ball>
				</div>
				<div class="ui-item-son" >
				 	<ball number="03" type="kk"></ball>
				</div>
				<div class="ui-item-son" >
				 	<ball number="05" type="kk"></ball>
				</div>
				<div class="ui-item-son" >
				 	<ball number="07" type="kk"></ball>
				</div>
				<div class="ui-item-son" >
				 	<ball number="09" type="kk"></ball>
				</div>
			</div>
			
			<div class="pure-u-6-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'D9M-D9M-01'}}" >{{peiyu['D9M-D9M-01']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'D9M-D9M-03'}}" >{{peiyu['D9M-D9M-03']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'D9M-D9M-05'}}" >{{peiyu['D9M-D9M-05']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'D9M-D9M-07'}}" >{{peiyu['D9M-D9M-07']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'D9M-D9M-09'}}" >{{peiyu['D9M-D9M-09']}}</span>
				</div>
				
			</div>	
			
			
			
			
			
			
				
			<div class="pure-u-6-24">	
				<div class="ui-item-son" >
				 	<ball number="02" type="kk"></ball>
				</div>
				<div class="ui-item-son" >
				 	<ball number="04" type="kk"></ball>
				</div>
				<div class="ui-item-son" >
				 	<ball number="06" type="kk"></ball>
				</div>
				<div class="ui-item-son" >
				 	<ball number="08" type="kk"></ball>
				</div>
				<div class="ui-item-son" >
				 	<ball number="10" type="kk"></ball>
				</div>
			</div>
			
			
			
			<div class="pure-u-6-24">	
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'D9M-D9M-02'}}" >{{peiyu['D9M-D9M-02']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'D9M-D9M-04'}}" >{{peiyu['D9M-D9M-04']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'D9M-D9M-06'}}" >{{peiyu['D9M-D9M-06']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'D9M-D9M-08'}}" >{{peiyu['D9M-D9M-08']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'D9M-D9M-10'}}" >{{peiyu['D9M-D9M-10']}}</span>
				</div>
			</div>
			
		</div>
	
		
	</div>
</div>