<div ng-include="templateURL('/caipiao/disabled.html')"></div>

<pk10header></pk10header>
<div class="ui-table">
	<div class="ui-body-son">
		<div class="pure-g">
			<div class="pure-u-24-24">
				<div class="ui-item-son text-center bg-2">{{code2Label}}</div>
			</div>
		</div>
		<div class="pure-g">
		
			<div class="pure-u-6-24">
				<div class="ui-item-son text-center">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son text-center">赔率</div>
			</div>
			
			<div class="pure-u-6-24">
				<div class="ui-item-son text-center">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son text-center">赔率</div>
			</div>
		</div>
		
		
		
		
		<div class="pure-g">
		
			<div class="pure-u-6-24" >
				<div class="ui-item-son" >
					<span>03</span>
				</div>
				<div class="ui-item-son" >
				 	<span>05</span>
				</div>
				<div class="ui-item-son" >
				 	<span>07</span>
				</div>
				<div class="ui-item-son" >
				 	<span>09</span>
				</div>
				<div class="ui-item-son" >
				 	<span>11</span>
				</div>
				<div class="ui-item-son" >
				 	<span>13</span>
				</div>
				<div class="ui-item-son" >
				 	<span>15</span>
				</div>
				<div class="ui-item-son" >
				 	<span>17</span>
				</div>
				<div class="ui-item-son" >
				 	<span>19</span>
				</div>
				<div class="ui-item-son" >
					<span>和大</span>
				</div>
				<div class="ui-item-son" >
				 	<span>和单</span>
				</div>
				
			</div>	
			
			
			
				<div class="pure-u-6-24">
				
					<div class="ui-item-son text-center">
						<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-3'}}" >{{peiyu['GYJH-GYJH-3']}}</span>
					</div>
					<div class="ui-item-son text-center">
						<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-5'}}" >{{peiyu['GYJH-GYJH-5']}}</span>
					</div>
					<div class="ui-item-son text-center">
						<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-7'}}" >{{peiyu['GYJH-GYJH-7']}}</span>
					</div>
					<div class="ui-item-son text-center">
						<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-9'}}" >{{peiyu['GYJH-GYJH-9']}}</span>
					</div>
					<div class="ui-item-son text-center">
						<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-11'}}" >{{peiyu['GYJH-GYJH-11']}}</span>
					</div>
					<div class="ui-item-son text-center">
						<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-13'}}" >{{peiyu['GYJH-GYJH-13']}}</span>
					</div>
					<div class="ui-item-son text-center">
						<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-15'}}" >{{peiyu['GYJH-GYJH-15']}}</span>
					</div>
					<div class="ui-item-son text-center">
						<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-17'}}" >{{peiyu['GYJH-GYJH-17']}}</span>
					</div>
					<div class="ui-item-son text-center">
						<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-19'}}" >{{peiyu['GYJH-GYJH-19']}}</span>
					</div>
					<div class="ui-item-son text-center">
						<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-SUM_BIG'}}" >{{peiyu['GYJH-GYJH-SUM_BIG']}}</span>
					</div>
					<div class="ui-item-son text-center">
						<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-SUM_ODD'}}" >{{peiyu['GYJH-GYJH-SUM_ODD']}}</span>
					</div>
				
			</div>
			
			
				
				
			<div class="pure-u-6-24" >	
				<div class="ui-item-son" >
				 	<span>04</span>
				</div>
				<div class="ui-item-son" >
				 	<span>06</span>
				</div>
				<div class="ui-item-son" >
				 	<span>08</span>
				</div>
				<div class="ui-item-son" >
				 	<span>10</span>
				</div>
				<div class="ui-item-son" >
				 	<span>12</span>
				</div>
				<div class="ui-item-son" >
				 	<span>14</span>
				</div>
				<div class="ui-item-son" >
				 	<span>16</span>
				</div>
				<div class="ui-item-son" >
				 	<span>18</span>
				</div>
				<div class="ui-item-son" >
				 	
				</div>
				
				<div class="ui-item-son" >
				 	<span>合小</span>
				</div>
				
				<div class="ui-item-son" >
				 	<span>和双</span>
				</div>
				
			</div>
			
			
		
			
			
			
			<div class="pure-u-6-24" >	
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-4'}}" >{{peiyu['GYJH-GYJH-4']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-6'}}" >{{peiyu['GYJH-GYJH-6']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-8'}}" >{{peiyu['GYJH-GYJH-8']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-10'}}" >{{peiyu['GYJH-GYJH-10']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-12'}}" >{{peiyu['GYJH-GYJH-12']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-14'}}" >{{peiyu['GYJH-GYJH-14']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-16'}}" >{{peiyu['GYJH-GYJH-16']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-18'}}" >{{peiyu['GYJH-GYJH-18']}}</span>
				</div>
				<div class="ui-item-son text-center">
					<span  ></span>
				</div>
				
				
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-SUM_SMALL'}}" >{{peiyu['GYJH-GYJH-SUM_SMALL']}}</span>
				</div>
				
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'GYJH-GYJH-SUM_EVEN'}}" >{{peiyu['GYJH-GYJH-SUM_EVEN']}}</span>
				</div>
				
			</div>
			
		</div>
	
	</div>
</div>