<div ng-include="templateURL('/caipiao/disabled.html')"></div>

<pk10header></pk10header>

<div class="ui-table">
	<div class="ui-body-son">
		<div class="pure-g">
			<div class="pure-u-24-24">
				<div class="ui-item-son text-center bg-2">冠军</div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">大</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">小</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">单</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">双</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">龙</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">虎</div>
			</div>
		</div>
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-GJ-BIG'}}" >{{peiyu['SM-GJ-BIG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-GJ-SMALL'}}" >{{peiyu['SM-GJ-SMALL']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-GJ-ODD'}}" >{{peiyu['SM-GJ-ODD']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-GJ-EVEN'}}" >{{peiyu['SM-GJ-EVEN']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-GJ-LONG'}}" >{{peiyu['SM-GJ-LONG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-GJ-HU'}}" >{{peiyu['SM-GJ-HU']}}</span>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-24-24">
				<div class="ui-item-son text-center bg-2">亚军</div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">大</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">小</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">单</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">双</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">龙</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">虎</div>
			</div>
		</div>
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-YJ-BIG'}}" >{{peiyu['SM-YJ-BIG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-YJ-SMALL'}}" >{{peiyu['SM-YJ-SMALL']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-YJ-ODD'}}" >{{peiyu['SM-YJ-ODD']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-YJ-EVEN'}}" >{{peiyu['SM-YJ-EVEN']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-YJ-LONG'}}" >{{peiyu['SM-YJ-LONG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">  
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-YJ-HU'}}" >{{peiyu['SM-YJ-HU']}}</span>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-24-24">
				<div class="ui-item-son text-center bg-2">季军</div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">大</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">小</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">单</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">双</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">龙</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">虎</div>
			</div>
		</div>
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-JJ-BIG'}}" >{{peiyu['SM-JJ-BIG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-JJ-SMALL'}}" >{{peiyu['SM-JJ-SMALL']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-JJ-ODD'}}" >{{peiyu['SM-JJ-ODD']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-JJ-EVEN'}}" >{{peiyu['SM-JJ-EVEN']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-JJ-LONG'}}" >{{peiyu['SM-JJ-LONG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-JJ-HU'}}" >{{peiyu['SM-JJ-HU']}}</span>
				</div>
			</div>
		</div>
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-24-24">
				<div class="ui-item-son text-center bg-2">第四名</div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">大</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">小</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">单</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">双</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">龙</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">虎</div>
			</div>
		</div>
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D4M-BIG'}}" >{{peiyu['SM-D4M-BIG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D4M-SMALL'}}" >{{peiyu['SM-D4M-SMALL']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D4M-ODD'}}" >{{peiyu['SM-D4M-ODD']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D4M-EVEN'}}" >{{peiyu['SM-D4M-EVEN']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D4M-LONG'}}" >{{peiyu['SM-D4M-LONG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D4M-HU'}}" >{{peiyu['SM-D4M-HU']}}</span>
				</div>
			</div>
		</div>
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-24-24">
				<div class="ui-item-son text-center bg-2">第五名</div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">大</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">小</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">单</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">双</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">龙</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">虎</div>
			</div>
		</div>
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D5M-BIG'}}" >{{peiyu['SM-D5M-BIG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D5M-SMALL'}}" >{{peiyu['SM-D5M-SMALL']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D5M-ODD'}}" >{{peiyu['SM-D5M-ODD']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D5M-EVEN'}}" >{{peiyu['SM-D5M-EVEN']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D5M-LONG'}}" >{{peiyu['SM-D5M-LONG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D5M-HU'}}" >{{peiyu['SM-D5M-HU']}}</span>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-24-24">
				<div class="ui-item-son text-center bg-2">第六名</div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">大</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">小</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">单</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">双</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">龙</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">虎</div>
			</div>
		</div>
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D6M-BIG'}}" >{{peiyu['SM-D6M-BIG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D6M-SMALL'}}" >{{peiyu['SM-D6M-SMALL']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D6M-ODD'}}" >{{peiyu['SM-D6M-ODD']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D6M-EVEN'}}" >{{peiyu['SM-D6M-EVEN']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D6M-LONG'}}" >{{peiyu['SM-D6M-LONG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D6M-HU'}}" >{{peiyu['SM-D6M-HU']}}</span>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-24-24">
				<div class="ui-item-son text-center bg-2">第七名</div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">大</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">小</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">单</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">双</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">龙</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">虎</div>
			</div>
		</div>
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D7M-BIG'}}" >{{peiyu['SM-D7M-BIG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D7M-SMALL'}}" >{{peiyu['SM-D7M-SMALL']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D7M-ODD'}}" >{{peiyu['SM-D7M-ODD']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D7M-EVEN'}}" >{{peiyu['SM-D7M-EVEN']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D7M-LONG'}}" >{{peiyu['SM-D7M-LONG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D7M-HU'}}" >{{peiyu['SM-D7M-HU']}}</span>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-24-24">
				<div class="ui-item-son text-center bg-2">第八名</div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">大</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">小</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">单</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">双</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">龙</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">虎</div>
			</div>
		</div>
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D8M-BIG'}}" >{{peiyu['SM-D8M-BIG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D8M-SMALL'}}" >{{peiyu['SM-D8M-SMALL']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D8M-ODD'}}" >{{peiyu['SM-D8M-ODD']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D8M-EVEN'}}" >{{peiyu['SM-D8M-EVEN']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D8M-LONG'}}" >{{peiyu['SM-D8M-LONG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D8M-HU'}}" >{{peiyu['SM-D8M-HU']}}</span>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-24-24">
				<div class="ui-item-son text-center bg-2">第九名</div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">大</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">小</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">单</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">双</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">龙</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">虎</div>
			</div>
		</div>
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D9M-BIG'}}" >{{peiyu['SM-D9M-BIG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D9M-SMALL'}}" >{{peiyu['SM-D9M-SMALL']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D9M-ODD'}}" >{{peiyu['SM-D9M-ODD']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D9M-EVEN'}}" >{{peiyu['SM-D9M-EVEN']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D9M-LONG'}}" >{{peiyu['SM-D9M-LONG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D9M-HU'}}" >{{peiyu['SM-D9M-HU']}}</span>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-24-24">
				<div class="ui-item-son text-center bg-2">第十名</div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">大</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">小</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">单</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">双</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">龙</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">虎</div>
			</div>
		</div>
		
		
		
		
		
		<div class="pure-g">
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D10M-BIG'}}" >{{peiyu['SM-D10M-BIG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D10M-SMALL'}}" >{{peiyu['SM-D10M-SMALL']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D10M-ODD'}}" >{{peiyu['SM-D10M-ODD']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D10M-EVEN'}}" >{{peiyu['SM-D10M-EVEN']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D10M-LONG'}}" >{{peiyu['SM-D10M-LONG']}}</span>
				</div>
			</div>
			<div class="pure-u-4-24">
				<div class="ui-item-son text-center">
					<span class="bg-hrec-gray" ng-attr-id="{{'SM-D10M-HU'}}" >{{peiyu['SM-D10M-HU']}}</span>
				</div>
			</div>
		</div>
		
	</div>
</div>