<!-- 最近注单 -->
<div class="ui-mod-item ui-tabs-item form-common trans-record" id="openNumber">
	<div class="ui-head ui-head-son">
		<div class="pure-g">
			<div class="pure-u-9-24">
				<div class="ui-item-child">期数</div>
			</div>
			<div class="pure-u-15-24" >
				<div class="ui-item-child">开奖号码</div>
			</div>
		</div>
	</div>
	<!-- /头部 -->
	<div class="ui-body ui-body-son">
		<!-- if 注单不为空 -->
		 <div class="ui-body ui-body-son" id="new_number"></div>
	</div>
	<!-- /主体 -->
</div>
<!-- /最近注单 -->
