
<div class="ui-mod-item ui-tabs-item bet-quick" id="betQuick">
	<div class="pure-g ui-row row-number" id="row_number">
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red" id="FASTNUM_01">01</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_11">11</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_21">21</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_31">31</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_41">41</div>
		</div>

		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red" id="FASTNUM_02">02</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red" id="FASTNUM_12">12</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_22">22</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_32">32</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_42">42</div>
		</div>

		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_03">03</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red" id="FASTNUM_13">13</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red" id="FASTNUM_23">23</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_33">33</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_43">43</div>
		</div>

		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_04">04</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_14">14</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red"  id="FASTNUM_24">24</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red"  id="FASTNUM_34">34</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green"  id="FASTNUM_44">44</div>
		</div>

		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green"  id="FASTNUM_05">05</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_15">15</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_25">25</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red" id="FASTNUM_35">35</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red" id="FASTNUM_45">45</div>
		</div>

		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_06">06</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_16">16</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_26">26</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_36">36</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red" id="FASTNUM_46">46</div>
		</div>

		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red" id="FASTNUM_07">07</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_17">17</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_27">27</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_37">37</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_47">47</div>
		</div>

		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red" id="FASTNUM_08">08</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red" id="FASTNUM_18">18</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_28">28</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_38">38</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_48">48</div>
		</div>

		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_09">09</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red" id="FASTNUM_19">19</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red" id="FASTNUM_29">29</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_39">39</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand green" id="FASTNUM_49">49</div>
		</div>

		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_10">10</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand blue" id="FASTNUM_20">20</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red"   id="FASTNUM_30">30</div>
		</div>
		<div class="pure-u-1-5">
			<div class="ui-item center ui-hand red"   id="FASTNUM_40">40</div>
		</div>
	</div>
	<div class="ui-row row-mode">
		<div class="pure-g">
			<div class="pure-u-1">
				<h6 class="center b">生肖</h6>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="mouse" type="checkbox" class="ui-checkbox"><span class="ui-txt">鼠</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="cow" type="checkbox" class="ui-checkbox"><span class="ui-txt">牛</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="tiger" type="checkbox" class="ui-checkbox"><span class="ui-txt">虎</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="rabbit" type="checkbox" class="ui-checkbox"><span class="ui-txt">兔</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="dragon" type="checkbox" class="ui-checkbox"><span class="ui-txt">龙</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="snake" type="checkbox" class="ui-checkbox"><span class="ui-txt">蛇</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="horse" type="checkbox" class="ui-checkbox"><span class="ui-txt">马</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="sheep" type="checkbox" class="ui-checkbox"><span class="ui-txt">羊</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="monkey" type="checkbox" class="ui-checkbox"><span class="ui-txt">猴</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="chicken" type="checkbox" class="ui-checkbox"><span class="ui-txt">鸡</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="dog" type="checkbox" class="ui-checkbox"><span class="ui-txt">狗</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="pig" type="checkbox" class="ui-checkbox"><span class="ui-txt">猪</span> </label>
				</div>
			</div>
			<div class="pure-u-1">
				<h6 class="center b">色波</h6>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input type="checkbox" id="redWave" class="ui-checkbox"><span class="ui-txt">红</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input type="checkbox" id="blueWave" class="ui-checkbox"><span class="ui-txt">蓝</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input type="checkbox" id="greenWave" class="ui-checkbox"><span class="ui-txt">绿</span> </label>
				</div>
			</div>
			<div class="pure-u-1">
				<h6 class="center b">单双</h6>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="single" type="checkbox" class="ui-checkbox"><span class="ui-txt">单</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="closeSingle" type="checkbox" class="ui-checkbox"><span class="ui-txt">合单</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="double" type="checkbox" class="ui-checkbox"><span class="ui-txt">双</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="closeDouble" type="checkbox" class="ui-checkbox"><span class="ui-txt">合双</span> </label>
				</div>
			</div>
			<div class="pure-u-1">
				<h6 class="center b">大小</h6>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="great" type="checkbox" class="ui-checkbox"><span class="ui-txt">大</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="closeGreat" type="checkbox" class="ui-checkbox"><span class="ui-txt">合大</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="small" type="checkbox" class="ui-checkbox"><span class="ui-txt">小</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="closeSmall" type="checkbox" class="ui-checkbox"><span class="ui-txt">合小</span> </label>
				</div>
			</div>
			<div class="pure-u-1">
				<h6 class="center b">半波</h6>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="redSingle" type="checkbox" class="ui-checkbox"><span class="ui-txt">红单</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="redDouble" type="checkbox" class="ui-checkbox"><span class="ui-txt">红双</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="redGreat" type="checkbox" class="ui-checkbox"><span class="ui-txt">红大</span> </label>
				</div>
			</div>
			<div class="pure-u-1">
				<h6 class="center b">尾数</h6>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="tail_0" type="checkbox" class="ui-checkbox"><span class="ui-txt">0尾</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="tail_1" type="checkbox" class="ui-checkbox"><span class="ui-txt">1尾</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="tail_2" type="checkbox" class="ui-checkbox"><span class="ui-txt">2尾</span> </label>
				</div>
			</div>
			<div class="pure-u-1">
				<h6 class="center b">其他</h6>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="greatSingle" type="checkbox" class="ui-checkbox"><span class="ui-txt">大单</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="greatDouble" type="checkbox" class="ui-checkbox"><span class="ui-txt">大双</span> </label>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="ui-item">
					<label> <input id="smallSingle" type="checkbox" class="ui-checkbox"><span class="ui-txt">小单</span> </label>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-row row-action">
		<div class="pure-g">
			<div class="pure-u-1">
				<div class="ui-item">
					<label> <input id="selectAll" type="checkbox" class="ui-checkbox"><span class="ui-txt red">全选</span> </label>
				</div>
			</div>
			<div class="pure-u-1">
				<div class="ui-item mt5">
					<input type="text" id="fastbet_money_input" class="ui-input ui-hand" maxlength="11"  placeholder="请输入下注金额">
				</div>
			</div>
			<div class="pure-u-1-2">
				<div class="ui-item mt5">
					<input id="resetColor" type="button" value="重填" onclick="clearBetForm();"  class="button button-small button-raised">
				</div>
			</div>
			<div class="pure-u-1-2">
				<div class="ui-item mt5 ar">
					<input type="button" onclick="createHK6FastBetOrder();" value="下注" class="button button-small button-raised button-primary">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /bet-quick -->
