<!-- 开奖结果 -->
<div class="pure-u-1">
<div class="lotto-assist">
<div class="ui-mod ui-form mod-assist assist-result">
  <div class="ui-mod-head cf">
    <div class="l b">**彩 开奖管理</div>
    <div class="r">
      期数：
      <input type="text" class="ui-input ui-hand">
      <input type="button" value="搜索" class="button button-small button-raised button-primary">
      <select name="" id="">
        <option selected="selected" value="HK6">香港六合彩</option>
        <option value="FC3D">福彩3D</option>
        <option value="PL3">排列三</option>
        <option value="CQSSC">重庆时时彩</option>
        <option value="JXSSC">江西时时彩</option>
        <option value="TJSSC">天津时时彩</option>
        <option value="XJSSC">新疆时时彩</option>
        <option value="GDKLSF">广东快乐十分</option>
        <option value="TJKLSF">天津快乐十分</option>
        <option value="BJPK10">北京PK拾</option>
      </select>
    </div>
  </div>

  <!-- 六合彩 -->
  <div class="ui-mod-body" style=" display: none;">
    <div class="ui-table">
      <div class="ui-table-loop">
        <div class="ui-head-son">
          <div class="pure-g">
            <div class="pure-u-2-24">
              <div class="ui-item-son ui-item-colspan">序号</div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son ui-item-colspan">期数</div>
            </div>
            <div class="pure-u-4-24">
              <div class="ui-item-son ui-item-colspan">开奖时间</div>
            </div>
            <div class="pure-u-7-24">
              <div class="ui-item-son">开奖球号</div>
            </div>
            <div class="pure-u-3-24">
              <div class="ui-item-son ui-item-colspan">特码</div>
            </div>
            <div class="pure-u-3-24">
              <div class="ui-item-son ui-item-colspan">总分</div>
            </div>
            <div class="pure-u-1-24">
              <div class="ui-item-son ui-item-colspan">生肖</div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son ui-item-colspan">合数</div>
            </div>
          </div>
        </div>
        <div class="ui-head-son ui-head-blank">
          <div class="pure-g">
            <div class="pure-u-2-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-4-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-7-24">
              <div class="pure-g">
                <div class="pure-u-4-24">
                  <div class="ui-item-son">平1</div>
                </div>
                <div class="pure-u-3-24">
                  <div class="ui-item-son">平2</div>
                </div>
                <div class="pure-u-3-24">
                  <div class="ui-item-son">平3</div>
                </div>
                <div class="pure-u-4-24">
                  <div class="ui-item-son">平4</div>
                </div>
                <div class="pure-u-3-24">
                  <div class="ui-item-son">平5</div>
                </div>
                <div class="pure-u-3-24">
                  <div class="ui-item-son">平6</div>
                </div>
                <div class="pure-u-4-24">
                  <div class="ui-item-son">特码</div>
                </div>
              </div>
            </div>
            <div class="pure-u-3-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-3-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-1-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
          </div>
        </div>
        <div class="ui-body-son ui-body-ball">
          <div class="pure-g">
            <!-- 循环 -->
            <div class="pure-u-2-24">
              <div class="ui-item-son">1</div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son">2016003</div>
            </div>
            <div class="pure-u-4-24">
              <div class="ui-item-son">2016-01-06 20:35:02</div>
            </div>
            <div class="pure-u-7-24">
              <div class="pure-g">
                <div class="pure-u-4-24">
                  <div class="ui-item-son">
                    <span class="ball ball-red">29</span>
                  </div>
                </div>
                <div class="pure-u-3-24">
                  <div class="ui-item-son">
                    <span class="ball ball-red">29</span>
                  </div>
                </div>
                <div class="pure-u-3-24">
                  <div class="ui-item-son">
                    <span class="ball ball-red">29</span>
                  </div>
                </div>
                <div class="pure-u-4-24">
                  <div class="ui-item-son">
                    <span class="ball ball-red">29</span>
                  </div>
                </div>
                <div class="pure-u-3-24">
                  <div class="ui-item-son">
                    <span class="ball ball-red">29</span>
                  </div>
                </div>
                <div class="pure-u-3-24">
                  <div class="ui-item-son">
                    <span class="ball ball-red">29</span>
                  </div>
                </div>
                <div class="pure-u-4-24">
                  <div class="ui-item-son">
                    <span class="ball ball-red">29</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="pure-u-3-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son blue">双</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son blue">小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son red">红波</div>
                </div>
              </div>
            </div>
            <div class="pure-u-3-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son">153</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son red">单</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son blue">小</div>
                </div>
              </div>
            </div>
            <div class="pure-u-1-24">
              <div class="ui-item-son">鼠</div>
            </div>
            <div class="pure-u-2-24">
              <div class="pure-g">
                <div class="pure-u-1-2">
                  <div class="ui-item-son red">大</div>
                </div>
                <div class="pure-u-1-2">
                  <div class="ui-item-son red">双</div>
                </div>
              </div>
            </div>
            <!-- / 循环 -->
          </div>
        </div>
        <div class="ui-head-son">
          <div class="pure-g">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / 六合彩 -->

  <!-- 福彩3D -->
  <div class="ui-mod-body" style=" display: none;">
    <div class="ui-table">
      <div class="ui-table-loop">
        <div class="ui-head-son">
          <div class="pure-g">
            <div class="pure-u-1-24">
              <div class="ui-item-son ui-item-colspan">序号</div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son ui-item-colspan">期数</div>
            </div>
            <div class="pure-u-4-24">
              <div class="ui-item-son ui-item-colspan">开奖时间</div>
            </div>
            <div class="pure-u-3-24">
              <div class="ui-item-son">开奖球号</div>
            </div>
            <div class="pure-u-1-24">
              <div class="ui-item-son ui-item-colspan">和数</div>
            </div>
            <div class="pure-u-1-24">
              <div class="ui-item-son ui-item-colspan">跨度</div>
            </div>
            <div class="pure-u-4-24">
              <div class="ui-item-son">百</div>
            </div>
            <div class="pure-u-4-24">
              <div class="ui-item-son">拾</div>
            </div>
            <div class="pure-u-4-24">
              <div class="ui-item-son">个</div>
            </div>
          </div>
        </div>
        <div class="ui-head-son ui-head-blank">
          <div class="pure-g">
            <div class="pure-u-1-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-4-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-3-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son">百</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">拾</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">个</div>
                </div>
              </div>
            </div>
            <div class="pure-u-1-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-1-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-4-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son">单双</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">大小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质合</div>
                </div>
              </div>
            </div>
            <div class="pure-u-4-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son">单双</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">大小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质合</div>
                </div>
              </div>
            </div>
            <div class="pure-u-4-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son">单双</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">大小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质合</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-body-son ui-body-ball">
          <div class="pure-g">
            <!-- 循环 -->
            <div class="pure-u-1-24">
              <div class="ui-item-son">1</div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son">2016009</div>
            </div>
            <div class="pure-u-4-24">
              <div class="ui-item-son">2016-01-09 08:33:08</div>
            </div>
            <div class="pure-u-3-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son">3</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">5</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">3</div>
                </div>
              </div>
            </div>
            <div class="pure-u-1-24">
              <div class="ui-item-son">11</div>
            </div>
            <div class="pure-u-1-24">
              <div class="ui-item-son">2</div>
            </div>
            <div class="pure-u-4-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son red">单</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son blue">小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质</div>
                </div>
              </div>
            </div>
            <div class="pure-u-4-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son red">单</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son blue">小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质</div>
                </div>
              </div>
            </div>
            <div class="pure-u-4-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son red">单</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son blue">小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质</div>
                </div>
              </div>
            </div>
            <!-- / 循环 -->
          </div>
        </div>
        <div class="ui-head-son">
          <div class="pure-g">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / 福彩3D -->

  <!-- 时时彩 -->
  <div class="ui-mod-body" style=" display: none;">
    <div class="ui-table">
      <div class="ui-table-loop">
        <div class="ui-head-son">
          <div class="pure-g">
            <div class="pure-u-1-24">
              <div class="ui-item-son ui-item-colspan">序号</div>
            </div>
            <div class="pure-u-3-24">
              <div class="ui-item-son ui-item-colspan">期数</div>
            </div>
            <div class="pure-u-4-24">
              <div class="ui-item-son ui-item-colspan">开奖时间</div>
            </div>
            <div class="pure-u-4-24">
              <div class="ui-item-son">开奖球号</div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son ui-item-colspan">总和</div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son">万</div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son">千</div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son">百</div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son">拾</div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son">个</div>
            </div>
          </div>
        </div>
        <div class="ui-head-son ui-head-blank">
          <div class="pure-g">
            <div class="pure-u-1-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-3-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-4-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-4-24">
              <div class="pure-g">
                <div class="pure-u-1-5">
                  <div class="ui-item-son">万</div>
                </div>
                <div class="pure-u-1-5">
                  <div class="ui-item-son">千</div>
                </div>
                <div class="pure-u-1-5">
                  <div class="ui-item-son">百</div>
                </div>
                <div class="pure-u-1-5">
                  <div class="ui-item-son">拾</div>
                </div>
                <div class="pure-u-1-5">
                  <div class="ui-item-son">个</div>
                </div>
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="ui-item-son ui-item-blank"></div>
            </div>
            <div class="pure-u-2-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son">单双</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">大小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质合</div>
                </div>
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son">单双</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">大小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质合</div>
                </div>
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son">单双</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">大小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质合</div>
                </div>
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son">单双</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">大小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质合</div>
                </div>
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son">单双</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">大小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质合</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-body-son ui-body-ball">
          <div class="pure-g">
            <!-- 循环 -->
            <div class="pure-u-1-24">
              <div class="ui-item-son">1</div>
            </div>
            <div class="pure-u-3-24">
              <div class="ui-item-son">20160110-028</div>
            </div>
            <div class="pure-u-4-24">
              <div class="ui-item-son">2016-01-09 08:33:08</div>
            </div>
            <div class="pure-u-4-24 b">
              <div class="pure-g">
                <div class="pure-u-1-5">
                  <div class="ui-item-son">3</div>
                </div>
                <div class="pure-u-1-5">
                  <div class="ui-item-son">5</div>
                </div>
                <div class="pure-u-1-5">
                  <div class="ui-item-son">3</div>
                </div>
                <div class="pure-u-1-5">
                  <div class="ui-item-son">3</div>
                </div>
                <div class="pure-u-1-5">
                  <div class="ui-item-son">3</div>
                </div>
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="pure-g">
                <div class="pure-u-1-2">
                  <div class="ui-item-son red">大</div>
                </div>
                <div class="pure-u-1-2">
                  <div class="ui-item-son blue">双</div>
                </div>
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son red">单</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son blue">小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质</div>
                </div>
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son red">单</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son blue">小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质</div>
                </div>
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son red">单</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son blue">小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质</div>
                </div>
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son red">单</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son blue">小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质</div>
                </div>
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="ui-item-son red">单</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son blue">小</div>
                </div>
                <div class="pure-u-1-3">
                  <div class="ui-item-son">质</div>
                </div>
              </div>
            </div>
            <!-- / 循环 -->
          </div>
        </div>
        <div class="ui-head-son">
          <div class="pure-g">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / 时时彩 -->

  <!-- 北京PK10 -->
  <div class="ui-mod ui-tabs" style=" display: none;">
    <div class="ui-mod-head ui-tabs-head nav-mode-play">
      <ul class="cf">
        <li class="ui-item ui-item-first ui-active">
          <a href="javascript:void(0);" data-url="#resultBjPK101" class="ui-link">号码</a>
        </li>
        <li class="ui-item">
          <a href="javascript:void(0);" data-url="#resultBjPK102" class="ui-link">大小</a>
        </li>
        <li class="ui-item">
          <a href="javascript:void(0);" data-url="#resultBjPK103" class="ui-link">单双</a>
        </li>
      </ul>
    </div>
    <div class="ui-mod-body ui-tabs-body">
      <!-- 北京PK10 - 号码 -->
      <div class="ui-mod-item ui-tabs-item" id="resultBjPK101">
        <div class="ui-table">
          <div class="ui-table-loop">
            <div class="ui-head-son">
              <div class="pure-g">
                <div class="pure-u-2-24">
                  <div class="ui-item-son ui-item-colspan">期数</div>
                </div>
                <div class="pure-u-4-24">
                  <div class="ui-item-son ui-item-colspan">开奖时间</div>
                </div>
                <div class="pure-u-15-24">
                  <div class="ui-item-son">彩球号码</div>
                </div>
                <div class="pure-u-3-24">
                  <div class="ui-item-son">冠亚军和</div>
                </div>
              </div>
            </div>
            <div class="ui-head-son ui-head-blank">
              <div class="pure-g">
                <div class="pure-u-2-24">
                  <div class="ui-item-son ui-item-blank"></div>
                </div>
                <div class="pure-u-4-24">
                  <div class="ui-item-son ui-item-blank"></div>
                </div>
                <div class="pure-u-15-24">
                  <div class="pure-g">
                    <div class="pure-u-4-24">
                      <div class="ui-item-son">冠军</div>
                    </div>
                    <div class="pure-u-3-24">
                      <div class="ui-item-son">亚军</div>
                    </div>
                    <div class="pure-u-3-24">
                      <div class="ui-item-son">季军</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第四名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第五名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第六名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第七名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第八名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第九名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第十名</div>
                    </div>
                  </div>
                </div>
                <div class="pure-u-3-24">
                  <div class="pure-g">
                    <div class="pure-u-1-3">
                      <div class="ui-item-son">总和</div>
                    </div>
                    <div class="pure-u-1-3">
                      <div class="ui-item-son">大小</div>
                    </div>
                    <div class="pure-u-1-3">
                      <div class="ui-item-son">单双</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-body-son ui-body-ball">
              <div class="pure-g">
                <!-- 循环 -->
                <div class="pure-u-2-24">
                  <div class="ui-item-son">532593</div>
                </div>
                <div class="pure-u-4-24">
                  <div class="ui-item-son">2016-01-10 03:52:36</div>
                </div>
                <div class="pure-u-15-24 b">
                  <div class="pure-g">
                    <div class="pure-u-4-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-3-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-3-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                  </div>
                </div>
                <div class="pure-u-3-24">
                  <div class="pure-g">
                    <div class="pure-u-1-3">
                      <div class="ui-item-son">8</div>
                    </div>
                    <div class="pure-u-1-3">
                      <div class="ui-item-son blue">小</div>
                    </div>
                    <div class="pure-u-1-3">
                      <div class="ui-item-son blue">双</div>
                    </div>
                  </div>
                </div>
                <!-- / 循环 -->
              </div>
            </div>
            <div class="ui-head-son">
              <div class="pure-g">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / 北京PK10 - 号码 -->
      <!-- 北京PK10 - 大小 -->
      <div class="ui-mod-item ui-tabs-item" id="resultBjPK102" style=" display: none;">
        <div class="ui-table">
          <div class="ui-table-loop">
            <div class="ui-head-son">
              <div class="pure-g">
                <div class="pure-u-2-24">
                  <div class="ui-item-son ui-item-colspan">期数</div>
                </div>
                <div class="pure-u-4-24">
                  <div class="ui-item-son ui-item-colspan">开奖时间</div>
                </div>
                <div class="pure-u-18-24">
                  <div class="ui-item-son">彩球号码</div>
                </div>
              </div>
            </div>
            <div class="ui-head-son ui-head-blank">
              <div class="pure-g">
                <div class="pure-u-2-24">
                  <div class="ui-item-son ui-item-blank"></div>
                </div>
                <div class="pure-u-4-24">
                  <div class="ui-item-son ui-item-blank"></div>
                </div>
                <div class="pure-u-18-24">
                  <div class="pure-g">
                    <div class="pure-u-4-24">
                      <div class="ui-item-son">冠军</div>
                    </div>
                    <div class="pure-u-3-24">
                      <div class="ui-item-son">亚军</div>
                    </div>
                    <div class="pure-u-3-24">
                      <div class="ui-item-son">季军</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第四名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第五名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第六名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第七名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第八名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第九名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第十名</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-body-son ui-body-ball">
              <div class="pure-g">
                <!-- 循环 -->
                <div class="pure-u-2-24">
                  <div class="ui-item-son">532593</div>
                </div>
                <div class="pure-u-4-24">
                  <div class="ui-item-son">2016-01-10 03:52:36</div>
                </div>
                <div class="pure-u-18-24 b">
                  <div class="pure-g">
                    <div class="pure-u-4-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-3-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-3-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                  </div>
                </div>
                <!-- / 循环 -->
              </div>
            </div>
            <div class="ui-head-son">
              <div class="pure-g">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / 北京PK10 - 大小 -->
      <!-- 北京PK10 - 单双 -->
      <div class="ui-mod-item ui-tabs-item" id="resultBjPK103" style=" display: none;">
        <div class="ui-table">
          <div class="ui-table-loop">
            <div class="ui-head-son">
              <div class="pure-g">
                <div class="pure-u-2-24">
                  <div class="ui-item-son ui-item-colspan">期数</div>
                </div>
                <div class="pure-u-4-24">
                  <div class="ui-item-son ui-item-colspan">开奖时间</div>
                </div>
                <div class="pure-u-18-24">
                  <div class="ui-item-son">彩球号码</div>
                </div>
              </div>
            </div>
            <div class="ui-head-son ui-head-blank">
              <div class="pure-g">
                <div class="pure-u-2-24">
                  <div class="ui-item-son ui-item-blank"></div>
                </div>
                <div class="pure-u-4-24">
                  <div class="ui-item-son ui-item-blank"></div>
                </div>
                <div class="pure-u-18-24">
                  <div class="pure-g">
                    <div class="pure-u-4-24">
                      <div class="ui-item-son">冠军</div>
                    </div>
                    <div class="pure-u-3-24">
                      <div class="ui-item-son">亚军</div>
                    </div>
                    <div class="pure-u-3-24">
                      <div class="ui-item-son">季军</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第四名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第五名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第六名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第七名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第八名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第九名</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">第十名</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-body-son ui-body-ball">
              <div class="pure-g">
                <!-- 循环 -->
                <div class="pure-u-2-24">
                  <div class="ui-item-son">532593</div>
                </div>
                <div class="pure-u-4-24">
                  <div class="ui-item-son">2016-01-10 03:52:36</div>
                </div>
                <div class="pure-u-18-24 b">
                  <div class="pure-g">
                    <div class="pure-u-4-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-3-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-3-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                    <div class="pure-u-2-24">
                      <div class="ui-item-son">01</div>
                    </div>
                  </div>
                </div>
                <!-- / 循环 -->
              </div>
            </div>
            <div class="ui-head-son">
              <div class="pure-g">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / 北京PK10 - 单双 -->
    </div>
  </div>
  <!-- / 北京PK10 -->

<div class="ui-pager">
  <div class="ui-mod-head cf">
    <div class="l b">
      <input type="button" value="刷新" class="button button-small button-raised button-primary">
    </div>
    <div class="l pager ac">
      总计<strong class="red">155</strong>笔记录　共<strong class="red">16</strong>页  当前第<strong class="red">1</strong>页<a href="">首页</a><a href="">&lt;</a><a href="">&gt;</a><a href="">尾页</a>
    </div>
    <div class="r">
      <select name="" id="">
        <option selected="selected">第1页</option>
      </select>
    </div>
  </div>
</div>
</div>

</div>
</div>
<script src="{resourceRoot}/cp/js/jquery-1.11.0.min.js"></script>
<script src="{resourceRoot}/cp/js/ybb-lotto.js"></script>
<!-- / 开奖结果 -->
