<div ng-include="templateURL('/caipiao/disabled.html')"></div>

<div ng-include="templateURL('/caipiao/headers/ssc_header.html')"></div>

<div ng-if="['ezzh', 'bsdw', 'bgdw', 'sgdw'].indexOf(subType) != -1">
	<div class="ui-table">
		<div class="ui-head-son">
			<div class="pure-g">
				<div class="pure-u-8-24">
					<div class="ui-item-son">
						<span ng-click="weizhi='QSW'; reset();" ng-class="{ block: true, 'bg-red' : weizhi == 'QSW'}">前三位</span>
					</div>
				</div>
				<div class="pure-u-8-24">
					<div class="ui-item-son">
						<span ng-click="weizhi='ZSW'; reset();" ng-class="{ block: true, 'bg-red' : weizhi == 'ZSW'}">中三位</span>
					</div>
				</div>
				<div class="pure-u-8-24">
					<div class="ui-item-son">
						<span ng-click="weizhi='HSW'; reset();" ng-class="{block: true, 'bg-red' : weizhi == 'HSW'}">后三位</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ui-table">
		<div class="ui-head-son">
			<div class="pure-g">
				<div class="pure-u-6-24">
					<div class="ui-item-son">号码</div>
				</div>
				<div class="pure-u-6-24">
					<div class="ui-item-son">赔率</div>
				</div>
				<div class="pure-u-6-24">
					<div class="ui-item-son">号码</div>
				</div>
				<div class="pure-u-6-24">
					<div class="ui-item-son">赔率</div>
				</div>
			</div>
		</div>
		<div class="ui-body-son" ng-init="numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 27, 28, 29, 33, 34, 35, 36, 37, 38, 39, 44, 45, 46, 47, 48, 49, 55, 56, 57, 58, 59, 66, 67, 68, 69, 77, 78, 79, 88, 89, 99]">
			<div class="pure-g" ng-repeat="index in range(0, numbers.length, 2)">
				<div class="pure-u-6-24"  >
					<div class="ui-item-son">{{ numbers[index] | ballnumber }}</div>
				</div>
				<div class="pure-u-6-24">
					<div class="ui-item-son">
						<span 
								ng-click="selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + (  numbers[index] | ballnumber ) ] = selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + (  numbers[index] | ballnumber ) ]  == true ? false: true" 
								ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu[( code2 | uppercase )+ '-' + (subType | uppercase)+ '-' + weizhi + '-' + (  numbers[index] | ballnumber ) ]}" 
								ng-attr-id="{{( code2 | uppercase )+'-'+ (subType | uppercase)+ '-' + weizhi + '-' + (  numbers[index] | ballnumber ) }}" >{{peiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + (  numbers[index]  | ballnumber ) ]}}</span>
					</div>
				</div>
				<div class="pure-u-6-24" ng-if=" numbers[index+1] ">
					<div class="ui-item-son">{{numbers[index + 1] | ballnumber }}</div>
				</div>
				<div class="pure-u-6-24" ng-if=" numbers[index+1] ">
					<div class="ui-item-son">
					<span 
								ng-click="selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( numbers[index+1] | ballnumber ) ] = selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( numbers[index+1] | ballnumber ) ]  == true ? false: true" 
								ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( numbers[index+1] | ballnumber ) ]}" 
								ng-attr-id="{{( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( numbers[index+1] | ballnumber ) }}" >{{peiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( numbers[index+1] | ballnumber ) ]}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-if="['bshs', 'bghs', 'sghs'].indexOf(subType) != -1">
	<div class="ui-table">
		<div class="ui-head-son">
			<div class="pure-g">
				<div class="pure-u-8-24">
					<div class="ui-item-son">
						<span ng-click="weizhi='QSW'; reset();" ng-class="{ block: true, 'bg-red' : weizhi == 'QSW'}">前三位</span>
					</div>
				</div>
				<div class="pure-u-8-24">
					<div class="ui-item-son">
						<span ng-click="weizhi='ZSW';reset();" ng-class="{ block: true, 'bg-red' : weizhi == 'ZSW'}">中三位</span>
					</div>
				</div>
				<div class="pure-u-8-24">
					<div class="ui-item-son">
						<span ng-click="weizhi='HSW';reset();" ng-class="{block: true, 'bg-red' : weizhi == 'HSW'}">后三位</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ui-head-son">
		<div class="pure-g">
			<div class="pure-u-24-24"><div class="ui-item-son">和数</div></div>
		</div>
	</div>
	
	<div class="ui-head-son">
		<div class="pure-g">
			<div class="pure-u-6-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">赔率</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">赔率</div>
			</div>
		</div>
	</div>
	
	<div class="ui-body-son">
		<div class="pure-g" ng-repeat="number in range(4, 14, 2)">
			<div class="pure-u-6-24">
				<div class="ui-item-son">
					<span>{{number == 4 ? '0~4': number}}</span>
				</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">
					<span
						ng-click="selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( number == 4? '0_4': number ) ] = selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( number == 4? '0_4': number ) ]  == true ? false: true" 
						ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu[( code2 | uppercase )+ '-' + (subType | uppercase)+ '-' + weizhi + '-' + ( number == 4? '0_4': number ) ]}" 
						ng-attr-id="{{( code2 | uppercase )+'-'+ (subType | uppercase)+ '-' + weizhi + '-' + ( number == 4? '0_4': number ) }}" > {{peiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( number == 4? '0_4': number  ) ]}}</span>
				</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">
					<span>{{number + 1}}</span>
				</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">
				<span 
								ng-click="selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( number + 1 ) ] = selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( number + 1 ) ]  == true ? false: true" 
								ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu[( code2 | uppercase )+ '-' + (subType | uppercase)+ '-' + weizhi + '-' + ( number + 1 ) ]}" 
								ng-attr-id="{{( code2 | uppercase )+'-'+ (subType | uppercase)+ '-' + weizhi + '-' + ( number + 1 ) }}" >{{peiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( number + 1) ]}}</span>
				</div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-6-24"><div class="ui-item-son">14~18</div></div>
			<div class="pure-u-6-24"><div class="ui-item-son">
			<span 
								ng-click="selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( '14_18' ) ] = selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( '14_18' ) ]  == true ? false: true" 
								ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu[( code2 | uppercase )+ '-' + (subType | uppercase)+ '-' + weizhi + '-' + ( '14_18' ) ]}" 
								ng-attr-id="{{( code2 | uppercase )+'-'+ (subType | uppercase)+ '-' + weizhi + '-' + ( '14_18' ) }}" >{{peiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( '14_18') ]}}</span>
			</div></div>
		</div>
	</div>
	
	<div class="ui-head-son">
		<div class="pure-g">
			<div class="pure-u-24-24"><div class="ui-item-son">尾数</div></div>
		</div>
	</div>
	
	<div class="ui-head-son">
		<div class="pure-g">
			<div class="pure-u-6-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">赔率</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">赔率</div>
			</div>
		</div>
	</div>
	
	<div class="ui-body-son">
		<div class="pure-g" ng-repeat="number in range(0, 10, 2)">
			<div class="pure-u-6-24">
				<div class="ui-item-son">
					<span>{{number}}</span>
				</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">
					<span
						ng-click="selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-WS' + ( number ) ] = selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-WS' + (  number ) ]  == true ? false: true" 
						ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu[( code2 | uppercase )+ '-' + (subType | uppercase)+ '-' + weizhi + '-WS' + (  number ) ]}" 
						ng-attr-id="{{( code2 | uppercase )+'-'+ (subType | uppercase)+ '-' + weizhi + '-WS' + (  number ) }}" > {{peiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-WS' + (  number  ) ]}}</span>
				</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">
					<span>{{number + 1}}</span>
				</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">
				<span 
								ng-click="selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-WS' + ( number + 1 ) ] = selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-WS' + ( number + 1 ) ]  == true ? false: true" 
								ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu[( code2 | uppercase )+ '-' + (subType | uppercase)+ '-' + weizhi + '-WS' + ( number + 1 ) ]}" 
								ng-attr-id="{{( code2 | uppercase )+'-'+ (subType | uppercase)+ '-' + weizhi + '-WS' + ( number + 1 ) }}" >{{peiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-WS' + ( number + 1) ]}}</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ui-head-son">
		<div class="pure-g">
			<div class="pure-u-24-24"><div class="ui-item-son">尾数双面</div></div>
		</div>
	</div>
	
	<div class="ui-head-son">
		<div class="pure-g">
			<div class="pure-u-6-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">赔率</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">号码</div>
			</div>
			<div class="pure-u-6-24">
				<div class="ui-item-son">赔率</div>
			</div>
		</div>
	</div>
	
	<div class="ui-body-son" ng-init="ids = ['BIG', 'SMALL', 'ODD', 'EVEN', 'ZHI', 'HE']; names = ['大', '小', '单', '双', '质', '合']">
		<div class="pure-g" ng-repeat="number in range(0, 6, 2)">
				<div class="pure-u-6-24">
					<div class="ui-item-son">
						<span>{{ names[number] }}</span>
					</div>
				</div>
				<div class="pure-u-6-24">
					<div class="ui-item-son">
						<span 
								ng-click="selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( ids[number ] ) ] = selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( ids[number] ) ]  == true ? false: true" 
								ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu[( code2 | uppercase )+ '-' + (subType | uppercase)+ '-' + weizhi + '-' + ( ids[number ] ) ]}" 
								ng-attr-id="{{( code2 | uppercase )+'-'+ (subType | uppercase)+ '-' + weizhi + '-' + ( ids[number] ) }}" >{{peiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( ids[number] ) ]}}</span>
					</div>
				</div>
				<div class="pure-u-6-24">
					<div class="ui-item-son">
						<span>{{names[number+1]}}</span>
					</div>
				</div>
				<div class="pure-u-6-24">
					<div class="ui-item-son">
						<span 
								ng-click="selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( ids[number + 1] ) ] = selectedPeiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( ids[number + 1] ) ]  == true ? false: true" 
								ng-class="{'bg-hrec-gray':true, 'bg-hrec-red': selectedPeiyu[( code2 | uppercase )+ '-' + (subType | uppercase)+ '-' + weizhi + '-' + ( ids[number + 1] ) ]}" 
								ng-attr-id="{{( code2 | uppercase )+'-'+ (subType | uppercase)+ '-' + weizhi + '-' + ( ids[number + 1] ) }}" >{{peiyu[( code2 | uppercase )+'-'+ (subType | uppercase) + '-' + weizhi + '-' + ( ids[number + 1] ) ]}}</span>
					</div>
				</div>
			</div>
	</div>
</div>


