<div ng-include="templateURL('/caipiao/disabled.html')"></div>

<div ng-include="templateURL('/caipiao/headers/ssc_header.html')"></div>


<div ng-if="subType == 'yzzh'" ng-include="templateURL('/caipiao/SSC/yz/yzzh.html')"></div>

<div ng-if="subType == 'wdw'" ng-include="templateURL('/caipiao/SSC/yz/wdw.html')"></div>

<div ng-if="subType == 'qdw'" ng-include="templateURL('/caipiao/SSC/yz/qdw.html')"></div>

<div ng-if="subType == 'bdw'" ng-include="templateURL('/caipiao/SSC/yz/bdw.html')"></div>

<div ng-if="subType == 'sdw'" ng-include="templateURL('/caipiao/SSC/yz/sdw.html')"></div>

<div ng-if="subType == 'gdw'" ng-include="templateURL('/caipiao/SSC/yz/gdw.html')"></div>
