<div class="play caipiao-groups">
	<ul class="clearfix" ng-if="game_code == 'GDKLSF'">
		<li>
			<h3 class="f14 white" ng-init="currentExpand=0" >广东快乐十分</h3>
			<div ng-class="{'sub-groups': true, 'current-expand': true}">
				<ul class="clearfix">
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd1q', type: '1'})"><h4 class="f14 white">第一球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd2q', type: '1'})"><h4 class="f14 white">第二球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd3q', type: '1'})"><h4 class="f14 white">第三球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd4q', type: '1'})"><h4 class="f14 white">第四球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd5q', type: '1'})"><h4 class="f14 white">第五球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd6q', type: '1'})"><h4 class="f14 white">第六球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd7q', type: '1'})"><h4 class="f14 white">第七球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd8q', type: '1'})"><h4 class="f14 white">第八球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'zhlh', type: '1'})"><h4 class="f14 white">总和龙虎</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'lm', type: '1'})"><h4 class="f14 white">连码</h4></a></li>
				</ul>
			</div>
		</li>
	</ul>
	<ul class="clearfix" ng-if="game_code == 'TJKLSF'">
		<li>
			<h3 class="f14 white" ng-init="currentExpand=0">天津快乐十分</h3>
			<div ng-class="{'sub-groups': true, 'current-expand': true}">
				<ul class="clearfix">
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd1q', type: '1'})"><h4 class="f14 white">第一球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd2q', type: '1'})"><h4 class="f14 white">第二球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd3q', type: '1'})"><h4 class="f14 white">第三球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd4q', type: '1'})"><h4 class="f14 white">第四球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd5q', type: '1'})"><h4 class="f14 white">第五球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd6q', type: '1'})"><h4 class="f14 white">第六球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd7q', type: '1'})"><h4 class="f14 white">第七球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'd8q', type: '1'})"><h4 class="f14 white">第八球</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'zhlh', type: '1'})"><h4 class="f14 white">总和龙虎</h4></a></li>
					<li><a ui-sref="caipiao.play.pankou({pankou: 'lm', type: '1'})"><h4 class="f14 white">连码</h4></a></li>
				</ul>
			</div>
		</li>
		
	</ul>
</div>